body {
  background-color:$brown;
  background-image:url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position:top center;
  background-attachment:fixed;
  @include mq(medium) {
     background-image:url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/main-bg-medium.jpg);
     background-attachment: scroll;
  }
  @include mq(large) {
     background-image:url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/main-bg.jpg);
  }
}

//Lists
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;


  &%default-ul {
    list-style-type: disc;
    margin-bottom: $base-line-height / 2;
    padding-left: $base-line-height;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $base-line-height / 2;
    padding-left: $base-line-height;
  }
}

dl {
  line-height: $base-line-height;
  margin-bottom: $base-line-height / 2;

  dt {
    font-weight: bold;
    margin-top: $base-line-height / 2;
  }

  dd {
    margin: 0;
  }
}

li{
  margin-bottom:10px;
}

.bullet-style {
    clear:left;
    list-style-type: none;
    margin-bottom: $base-line-height / 2;
    padding-left: $base-line-height;
    li {
      position:relative;
      margin-bottom:$baseline;
      font-size:1em;
      line-height:1.5em;
    p {
      font-size:1em;
    }
      &:after {
        content:'';
        width:$base-line-height;
        height:$base-line-height;
        display:block;
        position:absolute;
        top:0;
        left:-$base-line-height;
        background-image:url(img/ico-bullet.svg);
        background-position:center center;
        background-size:em(6) em(6);
        background-repeat: no-repeat;
        
      }
    }
}

//Tables
table {
  border-collapse: collapse;
  margin: ($base-line-height / 2) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: bold;
  padding: ($base-line-height / 2) 0;
  text-align: left;
}

td {
  border-bottom: 1px solid $base-border-color;
  padding: ($base-line-height / 2) 0;
}

tr, td, th {
  vertical-align: middle;
}



//Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

fieldset {
  //background: lighten($base-border-color, 10);
  border: 1px solid $base-border-color;
  margin: 0 0 ($base-line-height / 2) 0;
  padding: $base-line-height;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: bold;
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-line-height / 2;
  padding: ($base-line-height / 3) ($base-line-height / 3);
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: $base-line-height;
}

button,
input[type="submit"] {
  //@extend %button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
