
/*=============== Layout Patterns ===============*/


@include mq(medium) {
	.col-1 {
		@include span-columns(1 of 12);
	}
	.col-2 {
		@include span-columns(2 of 12);
	}
	.col-3 {
		@include span-columns(3 of 12);
	}
	.col-4 {
		@include span-columns(4 of 12);
	}
	.col-5 {
		@include span-columns(5 of 12);
	}
	.col-6 {
		@include span-columns(6 of 12);
	}
	.col-7 {
		@include span-columns(7 of 12);
	}
	.col-8 {
		@include span-columns(8 of 12);
	}
	.col-9 {
		@include span-columns(9 of 12);
	}
	.col-10 {
		@include span-columns(10 of 12);
	}
	.col-11 {
		@include span-columns(11 of 12);
	}
	.col-12 {
		@include span-columns(12 of 12);
	}

	.col-1of9 {
		@include span-columns(1 of 9);
	}
	.col-2of9 {
		@include span-columns(2 of 9);
	}
	.col-3of9 {
		@include span-columns(3 of 9);
	}
	.col-4of9 {
		@include span-columns(4 of 9);
	}
	.col-5of9 {
		@include span-columns(5 of 9);
	}
	.col-6of9 {
		@include span-columns(6 of 9);
	}
	.col-7of9 {
		@include span-columns(7 of 9);
	}
	.col-8of9 {
		@include span-columns(8 of 9);
	}
	
	.col-1of2 {
		@include span-columns(1 of 2);
	}
	.col-last {
		@include omega;
		margin-right:0 !important;
	}
}
.col-2-3 {
	@include span-columns(3 of 6);
	@include mq(medium) {
		@include span-columns(4 of 12);
	}
}
.col-2-last-3 {
	@include span-columns(3 of 6);
	margin-right:0;
	@include mq(medium) {
		@include span-columns(4 of 12);
	}
}
.col-2-3-last {
	@include span-columns(3 of 6);
	@include mq(medium) {
		@include span-columns(4 of 12);
		margin-right:0;
	} 
}



@include mq(medium) {
	.m-col-6 {
		@include span-columns(6 of 12);
	}
	.m-col-last {
		margin-right:0;
	}
}

@include mq(large) {
	.l-col-3 {
		@include span-columns(3 of 12);
	}
	.l-col-last {
		margin-right:0;
	}
}

@include mq(small) {
	.s-col-last {
		margin-right:0;
	}
}
.last {
	@include mq(medium) {
		margin-right:0 !important;
	}
}
.row {
	@include row();
	clear:both;
}
.rows-of-2 {
	@include row();
	> * {
		margin-bottom:$baseline*3;
		display:block;
		position:relative;
		> * {
			&:first-child {
				margin-top:0;
			}
		}
		@include mq(medium) {
			
			@include span-columns(6 of 12);
			@include omega(2n);
			&:nth-last-child(2) {
			   &:last-child {
			   		margin-bottom:0 !important;
			   }
			}
			&:nth-last-child(1) {
			   	&:last-child {
			   		margin-bottom:0 !important;
			   }
			}
		}
	}
}
.rows-of-3 {
	@include row();
	> * {
		margin-bottom:$baseline*3;
		display:block;
		position:relative;
		> * {
			&:first-child {
				margin-top:0;
			}
		}
		@include mq(medium) {
			
			@include span-columns(4 of 12);
			@include omega(3n);
			 
		}
	}
}
.rows-of-4 {
	@include row();
	> * {
		margin-bottom:$baseline*3;
		display:block;
		position:relative;
		> * {
			&:first-child {
				margin-top:0;
			}
		}
		@include mq(medium) {
			
			@include span-columns(3 of 12);
			@include omega(4n);

			
		}
	}
}

.mobile-rows-of-2 {
	@include mq(small) {
		@include row();
		> * {
			margin-bottom:$baseline*3;
			display:block;
			position:relative;
			> * {
				&:first-child {
					margin-top:0;
				}
			}
			&:nth-last-child(1) {
				background-color:red;
				margin-bottom:0;
			}
			&:nth-last-child(2) {
				background-color:green;
				margin-bottom:0;
			}
			@include span-columns(2 of 4);
			@include omega(2n);
		}
	}
}