/*=============== Inner Wrap ===============*/

.inner-wrap {
    @include outer-container;
}


/*=============== Main Nav ===============*/

//Functionality
.menu > ul ul,
#hs_menu_wrapper_main_menu > ul ul {
    clear: both;
    padding: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

@include mq(medium) {
    transition: 0;
}

.js .menu,
.js .menu > ul ul,
.js #hs_menu_wrapper_main_menu,
.js #hs_menu_wrapper_main_menu > ul ul {
    overflow: hidden;
    max-height: 0;
    margin: 0;
}

.menu.active,
.js .menu > ul ul.active,
#menu.active > span > #hs_menu_wrapper_main_menu,
.js #hs_menu_wrapper_main_menu > ul ul.active {
    max-height: 55em;
}

.menu,
#hs_menu_wrapper_main_menu {
    > ul {
        padding: 0;
        margin: 0;
    }
    li {
        a {
            display: block;
        }
    }
    li.has-subnav {
        position: relative;
        > a:after {
            content: '+';
            position: absolute;
            top: 1em;
            right: 1em;
            display: block;
        }
        > a.active:after {
            content: "-";
        }
    }
    li.hs-item-has-children {
        position: relative;
        > a:after {
            content: '+';
            position: absolute;
            top: 1em;
            right: 1em;
            display: block;
        }
        > a.active:after {
            content: "-";
        }
    }
}

@include mq(medium) {
    .js .menu,
    .js .menu > ul ul,
    .js #hs_menu_wrapper_main_menu,
    .js #hs_menu_wrapper_main_menu > ul ul {
        max-height: none;
        overflow: visible;
    }
    .js .menu > ul ul,
    .js #hs_menu_wrapper_main_menu > ul ul {
        display: none;
    }
    .menu.active,
    .js .menu > ul ul.active,
    #hs_menu_wrapper_main_menu.active,
    .js #hs_menu_wrapper_main_menu > ul ul.active {
        display: block;
    }
    .js .menu > ul li:hover > ul,
    .js #hs_menu_wrapper_main_menu > ul li:hover > ul {
        display: block;
    }
    .menu,
    .js #hs_menu_wrapper_main_menu {
        ul {
            //overflow:hidden;
        }
        li.has-subnav,
        li.hs-item-has-children {
            position: static;
            > a {
                //display:inline;
            }
            > a:after {
                content: "";
                display: inline-block;
                position: static;
                top: .25em;
                bottom: auto;
                right: 8%;
                width: 16px;
                height: 16px;
                margin-left: .15em;
                background-image: url(img/ico-arrowdown.svg);
                background-size: 12px 12px;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        .level-1,
        #hs_menu_wrapper_main_menu > ul {}
        > ul {
            > li {
                display: block;
                float: left;
                //position: relative;
            }
            ul.sub-menu,
            ul.hs-menu-children-wrapper {
                position: absolute;
                top: 2.5em;
                //width: 37em;
                //width:100%;
                left: 0;
                right: 0;
                li {
                    position: relative;
                }
            }
        }
    }
}

@include mq(large) {
    .menu,
    #hs_menu_wrapper_main_menu {
        > ul {
            > li {
                display: block;
                float: left;
                //position: relative;
            }
            ul.sub-menu,
            ul.hs-menu-children-wrapper {
                //position: absolute;
                //top: 7.55em;
                //left: 12em;
                //width: 37em;
                //width:100%;
                //left:$baseline*3;
                //right:$baseline*3;
                li {
                    position: relative;
                }
            }
        }
    }
}

//Design
.menu-link {
    width: em(32);
    //height:em(26);
    float: right;
    //background:$black;
    text-align: center;
    background: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-nav.svg) top center no-repeat;
    span {
        font-size: em(12);
        display: block;
        padding-top: 1.4em;
        color: $white;
    }
}

.no-svg {
    .menu-link {
        span {
            background: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-nav.png) center center no-repeat;
        }
    }
}

//Main Wrap
.menu,
#hs_menu_wrapper_main_menu {
    clear: both;
    @include light-transblackbg;
    a {
        font-family: $header-font-family;
        color: $white;
        font-size: em(21);
    }
    @include mq(medium) {
        //clear:none;
        @include transblackbgkill;
        a {
            font-size: em(18);
        }
    }
    @include mq(large) {
        a {
            font-size: em(21);
        }
        //@include span-columns(7 of 12);
        //@include omega;
        //float:right;
    }
}

//Main li's
.level-1,
#hs_menu_wrapper_main_menu > ul {
    > li {
        border-top: 1px solid black;
        a {
            padding: 1em 2em 1em 1em;
            //color:blue;
        }
        &:first-child {
            border-top: 0;
        }
    }
    li.has-subnav,
    li.hs-menu-children-wrapper {
        .active {
            //background:$black;
        }
    }
}

//Secondary Li's
.sub-menu,
.hs-menu-children-wrapper {
    z-index: 1;
    li {
        a {
            font-size: .8em;
            //background-color:white;
            text-align: left;
            /*background-image: url(img/ico-arrow.svg);
            background-position:95% 50%;
            background-repeat:no-repeat;
            background-size:0.625em 1.125em;*/
        }
        border-top:1px solid black;
        &:first-child {}
    }
}

.no-svg {
    .sub-menu,
    .hs-menu-children-wrapper {
        li {
            a {
                //.menu li.has-subnavbackground-image: url(img/ico-arrow.png);
            }
        }
    }
}

@include mq(medium) {
    //Main li's
    .level-1 {
        text-align: center;
        width: 100%;
        > li {
            border-top: 0;
            border-radius: 5px;
            a {
                padding: 0.5em 0;
                border-radius: 5px;
                &:hover {
                    //@include transblackbg;
                }
            }
            &:hover {
                //@include transblackbg;
                background: #000;
            }
        }
        li.has-subnav {
            border-radius: 5px 5px 0 0;
            a {
                border-radius: 5px 5px 0 0;
            }
        }
    }
    #hs_menu_wrapper_main_menu > ul {
        text-align: center;
        width: 100%;
        > li {
            border-top: 0;
            border-radius: 5px;
            a {
                padding: 0.5em 0;
                border-radius: 5px;
                &:hover {
                    //@include transblackbg;
                }
            }
            &:hover {
                //@include transblackbg;
                background: #000;
            }
        }
        li.has-subnav {
            border-radius: 5px 5px 0 0;
            a {
                border-radius: 5px 5px 0 0;
            }
        }
    }
    .sub-menu {
        //@include transblackbg;
        background: #000;
        //@include columns(3);
        li {
            border-radius: 0 !important;
            padding: $baseline $baseline*2;
            width: 33.3% !important;
            float: left !important;
            a {
                font-size: 1.2em;
                //padding:.8em 1.8em;
                //background-color:grey;
                text-align: left;
                border-radius: 0px;
                background-image: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-arrowright-sq.svg);
                background-repeat: no-repeat;
                background-position: left center;
                background-size: em(10) em(10);
                padding-left: 1em;
                border-radius: 0 !important;
                &:hover {
                    //background-color:$black;
                    color: $orange;
                }
            }
            border-top:0;
        }
    }
    .hs-menu-children-wrapper {
        background: #000;
        .hs-menu-depth-2 {
            border-radius: 0 !important;
            padding: $baseline $baseline*2;
            width: 33.3% !important;
            float: left !important;
            a {
                font-size: 1.2em;
                text-align: left;
                border-radius: 0px;
                background-image: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-arrowright-sq.svg);
                background-repeat: no-repeat;
                background-position: left center;
                background-size: em(10) em(10);
                padding-left: 1em !important;
                border-radius: 0 !important;
                &:hover {
                    color: $orange;
                }
            }
            border-top:0;
        }
    }
}

@include mq(large) {
    .menu {}
    .level-1,
    #hs_menu_wrapper_main_menu > ul {
        //text-align:right;
        > li {
            a {}
        }
    }
}

@include mq(medium) {
    /* Wordpress mEnu spacing */
    .nav-1 {
        width: 12%;
    }
    .nav-2 {
        width: 12%;
    }
    .nav-3 {
        width: 11.5%;
    }
    .nav-4 {
        width: 10%;
    }
    .nav-5 {
        width: 12%;
    }
    .nav-6 {
        width: 12%;
    }
    .nav-7 {
        width: 13%;
    }
    .menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-3065 {
        width: 16%;
    }
    /* Hubspot Menu spacing */
    #hs_menu_wrapper_main_menu > ul > .hs-menu-item {
        &:nth-child(1) {
            width: 12%;
        }
        &:nth-child(2) {
            width: 12%;
        }
        &:nth-child(3) {
            width: 11.5%;
        }
        &:nth-child(4) {
            width: 10%;
        }
        &:nth-child(5) {
            width: 12%;
        }
        &:nth-child(6) {
            width: 12%;
        }
        &:nth-child(7) {
            width: 13%;
        }
        &:nth-child(8) {
            width: 16%;
        }
    }
}


/*=============== Logo ===============*/

.site-logo {}


/*=============== Social Media ===============*/

.social-wrap {
    overflow: hidden;
    a {
        display: block;
        float: left;
        width: 20%;
        text-align: center;
        &:hover {
            opacity: .75;
        }
    }
    img {
        display: inline-block;
        margin: 0 auto;
        width: 1.1em;
        height: auto;
        vertical-align: middle;
    }
}


/*=============== Design Patterns ===============*/

//Wraps
.inner-wrap {
    @include outer-container;
}

.dark-module {
    color: $white;
    a {
        color: $white;
        &:visited {
            color: $white;
        }
        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}

.black-module {
    border-top: 1px solid $dark-gray;
    @extend .dark-module;
    background-color: $black;
}

.grain-module {
    @extend .dark-module;
    background-image: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/bg-tile-grain.jpg);
}

.bordertop-gradient {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        top: 0;
        left: 0;
        right: 0;
        background-image: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/border-gradient.jpg);
        background-repeat: no-repeat;
        background-size: 100% 1px;
        background-position: top center;
        //background-color:red;
    }
}

//Media Object
.media-object {
    overflow: hidden;
}

.media-object-img {
    width: 20%;
    float: left;
    display: block;
    margin-right: 5%;
    img {
        width: 100%;
    }
}

.media-object-body {
    width: 75%;
    float: left;
}

.media-object-header {
    margin-top: 0;
    margin-bottom: .15em;
}

.media-grid-2 {
    > * {
        margin-bottom: $baseline*2;
    }
    @include mq(medium) {
        > * {
            @include span-columns(4.5 of 9);
            @include omega(2n);
            margin-bottom: $baseline*3;
        }
    }
}

//Gray Box Link
.grayboxlink {
    display: block;
    background-color: $dark-gray;
    color: $white;
    border-radius: 10px;
    background-image: url(img/ico-arrowright-l.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1.5em 1.5em;
    //@include transition (background .2s ease-in-out);
    &:visited {
        color: $white;
    }
    &:hover {
        color: $white;
        @include background(linear-gradient(#480c04, #913003) left repeat);
    }
    @include mq(medium) {
        background-image: none;
    }
    &.ico-resource {
        .grayboxlink-head {
            background-image: url(img/ico-resource.png);
            padding-left: 3em;
            background-size: 40px;
        }
    }
    &.ico-download {
        .grayboxlink-head {
            background-image: url(img/ico-download.png);
        }
    }
    &.ico-video {
        .grayboxlink-head {
            background-image: url(img/ico-video.png);
        }
    }
    &.ico-rfq {
        .grayboxlink-head {
            background-image: url(img/ico-rfq.png);
        }
    }
    &.ico-cog {
        .grayboxlink-head {
            background-image: url(img/ico-cog.png);
        }
    }
}

.grayboxlink-head {
    font-size: em(21);
    padding: .75em 0 .75em 2.75em;
    background-repeat: no-repeat;
    background-position: .75em center;
}

.grayboxlink-bd {
    display: none;
    @include mq(medium) {
        font-size: em(14);
        line-height: 1.25em;
        display: block;
        color: $light-gray;
        padding: 0 $baseline*3 $baseline*2.5 $baseline*3;
        margin-bottom: 0;
        margin-top: 0;
    }
}


/*=============== Javascript Related ===============*/

.headexpand {
    position: relative;
    border-bottom: 1px solid $dark-gray;
    padding: $baseline*1.5 0;
    margin: 0;
    &:hover {
        //background:red;
    }
    &:after {
        position: absolute;
        right: $baseline;
        content: "+";
        margin-left: 1em;
    }
    &.active {
        &:after {
            content: "-";
        }
    }
    @include mq(medium) {
        &:after {
            display: none;
        }
        border-bottom:0;
        padding:0;
        //margin-top:0.92307692307692em;/* Baseline*3 */
        //margin-bottom:0.38095238095238em;/* Baseline */
    }
}

.headexpand-wrap {
    > *:last-child {
        overflow: hidden;
        max-height: 0;
        //display:none;
        @include transition (all .2s ease-in-out);
    }
    > *:last-child.active {
        max-height: 100em;
    }
    @include mq(medium) {
        > *:last-child {
            overflow: visible;
            max-height: none;
            //display:none;
            @include transition (all .2s ease-in-out);
        }
        > *:last-child.active {
            max-height: auto;
        }
    }
}


/*=============== Site Header ===============*/

.site-header {
    .inner-wrap {
        @include mq(medium) {
            padding-top: $baseline*4;
            position: relative;
        }
        @include mq(large) {}
    }
}

.site-header-top {
    margin-bottom: $baseline*2;
    overflow: hidden;
    position: relative;
}

.site-header-bottom {
    @include mq(medium) {
        position: relative;
    }
}

.utility-nav {
    text-align: right;
    //background-color:green;
    display: block;
    .ico-iso {
        font-size: em(10);
        text-align: center;
        line-height: 1.25em;
        display: inline-block;
        color: $white;
        margin-right: 1em;
        display: none;
        &:hover {}
    }
    .social-wrap {
        display: none;
    }
    .secondary-nav {
        display: none;
    }
    .secondary-nav li {
        display: inline;
    }
    .sun-ph {
        text-align: right;
        clear: both;
        color: #ffffff;
        margin-top: 10px;
        display: inline-block;
    }
    @include mq(medium) {
        @include span-columns(7 of 12);
        @include omega;
        .ico-iso {
            display: inline-block;
        }
        .social-wrap {
            display: block;
            width: 11.2em;
            float: right;
            clear: both;
            margin-bottom: $baseline*2;
            line-height: 1em;
            vertical-align: top;
            img {
                float: right;
            }
        }
        .secondary-nav {
            display: block;
            float: right;
            margin-bottom: $baseline*2;
            clear: both;
            line-height: 1em;
            vertical-align: top;
            a {
                font-size: em(14);
                color: $orange;
                display: inline-block;
                margin-left: 1em;
                &:visited {
                    color: $orange;
                }
                &:hover {
                    color: lighten($orange, 15%);
                }
            }
        }
    }
    @include mq(large) {
        vertical-align: bottom;
        .ico-iso {
            display: inline-block;
            margin-right: 0;
        }
        .social-wrap {
            clear: none;
            float: none;
            display: inline-block;
            margin-bottom: 0;
            margin-right: .5em;
            img {
                //float:none;
            }
        }
        .secondary-nav {
            float: none;
            display: inline-block;
            margin-bottom: 0;
        }
    }
}

.site-logo {
    @include span-columns(4 of 6);
    @include mq(medium) {
        @include span-columns(5 of 12);
    }
    @include mq(large) {}
}


/*=============== Site Intro ===============*/

.site-intro {
    @include light-transblackbg;
    .inner-wrap {
        padding-top: $baseline*3;
        padding-bottom: $baseline*3;
    }
}

.site-intro-h1 {
    color: $white;
    span {
        font-size: .75em;
        color: $gray;
        display: block;
    }
    @include mq(large) {
        font-size: 2.75em;
    }
}


/*=============== Product Carousel ===============*/

.product-carousel {
    @include row(block, LTR);
    //overflow:hidden;
    position: relative;
    //border-bottom:1px solid #6b4a3a;
    border-top: 1px solid #6b4a3a;
    padding-left: em(35) !important;
    padding-right: em(35) !important;
    @include mq(medium) {
        margin-top: $baseline*2 !important;
        padding-left: em(35) !important;
        padding-right: em(35) !important;
        margin: 0 auto !important;
        //max-width:em(1500);
        display: block;
        overflow: hidden;
    }
    @include mq(large) {
        padding-left: em(50) !important;
        padding-right: em(50) !important;
    }
    @include mq(huge) {}
}

.product-item {
    border-left: 1px solid #6b4a3a;
    display: block;
    overflow: hidden;
    width: 50%;
    float: left;
    position: relative;
    padding: $baseline;
    height: em(100);
    &:last-child {
        border-right: 1px solid #6b4a3a;
    }
    @include mq(medium) {
        //padding:$baseline $baseline;
        text-align: center;
        width: 25%;
        padding: $baseline*2;
        height: em(300);
        &:hover {
            .product-img,
            .product-figure {
                opacity: 1;
            }
            .product-inner-wrap {
                @include light-transblackbg;
            }
        }
    }
    @include mq(large) {
        padding: $baseline*3;
        height: em(400);
        &:hover {
            .product-inner-wrap {
                @include light-transblackbg;
                max-height: $baseline*100;
            }
            .product-description {
                border-top: 1px solid $dark-orange;
                display: block;
            }
        }
    }
    @include mq(huge) {
        height: em(350);
    }
}

.product-inner-wrap {
    position: absolute;
    bottom: 0;
    z-index: 1;
    //padding:$baseline;
    overflow: hidden;
    left: $baseline*2;
    right: $baseline*2;
    bottom: $baseline*2;
    max-height: $baseline*8;
    padding: 0;
    @include transition (background-color .25s ease-out 0s, max-height 2.0s linear 0s);
    //@include transition (all 1s ease-in-out 0s);
    @include mq(medium) {
        padding: 0 $baseline*3;
    }
    @include mq(large) {
        max-height: $baseline*8;
    }
}

.product-header {
    font-size: em(16);
    //padding:.75em 0 .5em 0;
    //width:70%;
    color: $white;
    text-align: center;
    @include mq(medium) {
        font-size: em(18);
        padding: .75em 0 0 0;
        //width:100%;
        float: none;
        text-align: center;
        //position:relative;
        //background-color:red;
        margin-left: -24px;
        margin-right: -24px;
        //margin-bottom:$baseline;
        //height:$baseline*4;
        &:after {
            content: '';
            display: inline-block;
            height: em(15);
            width: em(15);
            position: absolute;
            bottom: $baseline*.5;
            right: $baseline*.5;
            background-image: url(img/ico-arrowright-sq.svg);
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: em(10) em(10);
        }
    }
    @include mq(large) {
        font-size: em(20);
        padding: 1.04347826086957em 0 0 0;
    }
    @include mq(huge) {
        font-size: em(23);
        &:after {
            background-size: em(10) em(10);
        }
    }
}

.product-description {
    color: $white;
    display: none;
    //margin-bottom:-11em;
    //padding:$baseline*3 0;
    padding-top: $baseline;
    margin-top: $baseline;
    display: none;
    //border-top:1px solid $dark-orange;
    @include mq(medium) {
        text-align: left;
        font-size: em(14);
        line-height: 1.25em;
    }
    @include mq(huge) {
        //display:block;
        font-size: em(16);
        line-height: 1.5em;
    }
}

.product-img {
    display: block;
    width: 25%;
    float: left;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 0;
    opacity: .35;
    margin: auto !important;
    @include transition (opacity .5s linear 0s);
    @include mq(medium) {
        opacity: .5;
        width: 100%;
        float: none;
        margin-bottom: $baseline*2;
    }
}

.product-figure {
    display: block;
    float: left;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: .35;
    margin: auto !important;
    background-position: center center;
    background-size: 100%;
    @include transition (opacity .5s linear 0s);
    @include mq(medium) {
        opacity: .5;
        float: none;
        margin-bottom: $baseline*2;
        background-size: 100%;
    }
}

.flex-direction-nav a {
    width: 35px;
    background-size: 30px 30px;
    @include mq(large) {
        width: 50px;
        background-size: 40px 40px;
    }
}

.flex-direction-nav li,
.flex-viewport .slides li {
    margin-bottom: 0;
}


/*=============== Buttons & Calls to Action ===============*/

//Buttons
.btn {
    font-family: $header-font-family;
    text-shadow: 1px 1px 0 $light-transblack;
    &:hover {
        //padding-top:1px;
        text-shadow: 1px 1px 0 $transblack;
    }
}

.btn-orange {
    background-color: $orange;
    display: inline-block;
    color: $white;
    @include orange-gradient;
    @extend .btn;
    &:visited {
        color: $white;
    }
    &:hover {
        color: $white;
        @include background(linear-gradient(#ec5500, #ec5500) left repeat);
    }
}

.btn-orange-l {
    @extend .btn-orange;
    display: block;
    font-size: em(26);
    padding: 0.61538461538462em 0.30769230769231em;
    -webkit-box-shadow: 0 0 1px 0 #000;
    box-shadow: 0 0 1px 0 #000;
    text-align: center;
    @include mq(medium) {
        display: inline-block;
    }
}

//Banners
.cta-banner-dark {
    border: 2px solid $white;
    border: 2px solid rgba(255, 255, 255, .15);
    overflow: hidden;
    color: $white;
    padding: $baseline*2 $baseline*3;
    position: relative;
}

.cta-banner-light {
    border: 2px solid $black;
    border: 2px solid rgba(0, 0, 0, .15);
    overflow: hidden;
    color: $black;
    padding: $baseline*2 $baseline*3;
    position: relative;
}

.cta-banner-header {
    margin-top: 0;
    margin-bottom: .2em;
}

.cta-banner-body {
    @include mq(medium) {
        margin-bottom: 0;
    }
}

.cta-banner-btn {
    display: block;
    position: relative;
    text-align: center;
    //margin-top:50%;
    @include mq(medium) {
        margin-top: 1.15em;
    }
}


/*
.cta-banner-btn {
    display:block;
    position:relative;
    a {
        display:block;
        text-align:center;
        position:absolute;
        right:0;
        left:0;
        top:50%;
    }
}
*/


/*=============== Slide in CTA ===============*/

#last {
    margin: 0;
}

#slidebox {
    padding: 10px 10px 10px 16px;
    //background-color: #fff;
    //border-top: 3px solid #F7761F;
    position: fixed;
    bottom: 0;
    right: -430px;
    //-moz-box-shadow: -2px 0 5px #aaa;
    // -webkit-box-shadow: -2px 0 5px #aaa;
    //box-shadow: -2px 0 5px #aaa;
    z-index: 1000;
}

a.close {
    //background: transparent url(http://cdn2.hubspot.net/hub/53/file-527841348-gif/close.gif?t=1402397452961) no-repeat top right;
    background-color: white;
    //background-color:rgba(255,255,255,.75);
    color: $blue;
    text-align: center;
    float: left;
    padding: 0 $baseline;
    font-size: em(11);
    border-radius: 3px;
    position: absolute;
    cursor: pointer;
    top: 1.5em;
    right: 2em;
    line-height: 1.75em;
    //display:none;
}

a.close:hover {
    background-color: rgba(255, 255, 255, .75);
}

@media only screen and (max-device-width: 480px) {
    #slidebox {
        width: 100%;
    }
}


/*=============== Footer ===============*/

.footerlinks {
    a {
        color: #777777;
        font-size: em(14);
        &:visited {
            color: #777777;
        }
        &:hover {
            color: $white;
        }
    }
    ul {
        margin-bottom: $baseline*2;
    }
    @include mq(small) {
        > * {
            @include omega(2n);
        }
    }
}

.footerlinks-head {
    font-size: em(21);
    a {
        color: $white;
        &:visited {
            color: $white;
        }
        &:hover {
            color: #777777;
        }
    }
}

.footerlinks-col-1 {
    @include span-columns(3 of 6);
    @include mq(medium) {
        @include span-columns(3 of 15);
    }
    @include mq(large) {}
}

.footerlinks-col-2 {
    @include span-columns(3 of 6);
    @include mq(medium) {
        @include span-columns(3 of 15);
    }
    @include mq(large) {}
}

.footerlinks-col-3 {
    @include span-columns(3 of 6);
    @include mq(medium) {
        @include span-columns(3 of 15);
    }
    @include mq(large) {}
}

.footerlinks-col-4 {
    @include span-columns(3 of 6);
    @include mq(medium) {
        @include span-columns(3 of 15);
        @include omega;
    }
    @include mq(large) {}
}

.footerlinks-col-5 {
    @include span-columns(6 of 6);
    text-align: center;
    .social-wrap {
        margin: 0 auto;
        margin-top: $baseline*2;
        margin-bottom: $baseline*2;
        font-size: 1.2em !important;
        width: 75%;
        img {
            //float:right;
            display: block;
        }
    }
    @include mq(medium) {
        @include span-columns(3 of 15);
        @include omega;
        text-align: right;
        .social-wrap {
            margin-bottom: $baseline*2;
            font-size: 1.2em !important;
            width: 100%;
            img {
                float: right;
                display: block;
            }
        }
    }
    @include mq(large) {}
}

.site-footer {
    .inner-wrap {
        padding-top: $baseline*3;
        padding-bottom: $baseline*3;
    }
    p {
        color: $gray;
        font-size: em(14);
        margin-bottom: 12px;
    }
    a {
        color: $gray;
        &:visited {
            color: $gray;
        }
        &:hover {
            color: $white;
        }
    }
    text-align:center;
    @include mq(large) {
        text-align: left;
    }
}

.footer-nav {
    margin-bottom: $baseline*1.5;
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        display: inline-block;
        margin-right: .5em;
    }
    a {
        font-size: em(14);
        font-weight: 600;
        @extend .orange-link;
    }
}


/*=============== Site Content ===============*/

.site-content {
    background-color: $white;
    background-image: url(img/bg-gradient-dest.jpg);
    background-repeat: repeat-x;
    border-top: 1px solid $dark-gray;
}

.site-content-primary {
    > *:first-child {
        margin-top: 0;
    }
    @include mq(large) {
        //@include span-columns(9 of 12);
    }
    li {
        list-style-type: disc;
        margin-left: 20px;
    }
}

.site-content-secondary {
    margin-top: $baseline*3;
    .hs-cta-wrapper {
        margin-bottom: 1.25em;
        display: block;
    }
    @include mq(large) {
        margin-top: 0;
        //@include span-columns(3 of 12);
        //@include omega;
        float: right !important;
    }
}

.cta-aside {
    text-align: center;
    .hs-cta-wrapper {
        display: block;
        margin-bottom: $baseline*2;
    }
}


/*=============== Tables ===============*/

.table {
    display: block;
    width: 100%;
    //margin:0 0 1em 0;
    margin-bottom: $baseline*4;
    //background:lighten($light-gray,12%);
    background-image: url(img/bg-gradient-topleft.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    border-radius: 10px;
    //font-size:em(14);
}

.thead {
    display: block;
}

.table-row {
    display: block;
    width: 100%;
    //border-bottom:1px solid $gray;
}

.colored-rows {
    .row {
        &:nth-child(2n+1) {
            .cell {}
        }
    }
}

.cell {
    display: block;
    //background-color:$greylight;
    //border:.2em solid $white;
    padding: .5em .8em;
    vertical-align: top;
    //color:$blue;
    p {
        //font-size:.95em;
        margin: .5em 0;
    }
    > ul {
        margin: .5em 0;
        > li {
            margin-bottom: 0 !important;
            //font-size:.7em;
            ul {
                padding: 0 0 0 1.8em;
            }
        }
    }
    input,
    select {
        width: 100%;
    }
}

.col {
    display: table-column;
}

.spec-col-1 {
    width: 100%;
    border-top: 1px solid $light-gray;
}

.spec-col-2 {
    width: 100%;
    border-top: 1px solid $light-gray;
}

@include mq(medium) {
    .table {
        display: table;
    }
    .thead {
        display: table-header-group;
    }
    .table-row {
        display: table-row;
    }
    .cell {
        display: table-cell;
        p {
            font-size: em(16);
        }
    }
    .spec-col-1 {
        width: 30%;
    }
    .spec-col-2 {
        width: 70%;
    }
}

.spec-table-header {
    color: $white;
    font-size: em(21);
    padding: .5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}


/*=============== Product Intro ===============*/

.product-intro {
    h2 {
        //color:$beigedark;
        font-size: em(24);
    }
    margin-bottom:$baseline*3;
}

.product-intro-header {
    //color:$beigedark;
}

.product-intro-img {
    text-align: center;
    @include mq(medium) {
        float: left;
        padding-right: 1em;
        padding-bottom: 1em;
        //@include span-columns(3 of 9);
    }
    @include mq(large) {
        padding: 0;
    }
}

.product-intro-img-additional {
    display: inline-block;
    margin-top: .25em;
    img {
        width: 5em;
        height: auto;
    }
}

.product-intro-info {
    @include mq(medium) {
        //@include span-columns(6 of 9);
    }
    > * {
        margin-top: 0;
    }
    ul,
    p {
        //font-size:em(14);
    }
    @include mq(medium) {
        //clear:both;
    }
    @include mq(large) {
        clear: none !important;
    }
}

.product-intro-additional {
    font-size: 1em;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        margin: 0 0 .75em 0;
        padding: 0;
    }
    @include mq(medium) {
        //@include span-columns(2 of 9);
        font-size: .75em;
        //clear:both;
    }
    > * {
        margin-top: 0;
    }
    @include mq(large) {
        font-size: .75em;
        float: right !important;
        clear: none;
    }
}

.product-intro-additional-cta {
    @include mq(medium) {
        display: block;
    }
}


/*    MISC     */

//hide ungated video link on sitemap
ul li.page-item-1175 {
    display: none;
}


/*===================== Destination sliders =============*/

.dest-carousel {
    padding: 0 3em;
    position: relative;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    margin: 2em 0;
    li {
        list-style-type: none;
    }
}

.dest-carousel .product-item {
    width: 100%;
    height: 10em;
    border: none;
}

.dest-carousel .product-header {
    color: #000;
}

.dest-carousel .slides li {
    border-right: solid 1px #ddd;
}

.dest-carousel .product-item:last-child {
    border-right: none;
}

.dest-carousel .flex-direction-nav .flex-prev {
    font-size: .5em;
    left: 0;
    display: block;
    text-indent: -999em;
    display: block;
    background-image: url(img/ico-arrowleft-l-dest.svg);
    background-position: left center;
    /*background-color:$blue; background-size:em(20) em(36);*/
    background-repeat: no-repeat;
    border-bottom: 0;
}

.dest-carousel .flex-direction-nav .flex-next {
    font-size: .5em;
    right: 0;
    text-indent: -999em;
    display: block;
    background-image: url(img/ico-arrowright-l-dest.svg);
    background-position: center center;
    /*background-color:$blue; background-size:em(20) em(36);*/
    background-repeat: no-repeat;
    border-bottom: 0;
}


/*=============== Additional Content ===============*/

.additional-content {
    clear: both;
}

.product-intro-img a {
    margin-bottom: 5px;
}

.product-intro-img a:nth-child(2n) {
    margin-right: 0;
}


/*=============== Product Intro ===============*/

.lang-item-es,
.lang-item-en {
    display: none !important;
}

.page-id-883,
.page-id-1718,
.page-id-978,
.page-id-1709,
.page-id-941,
.page-id-1717,
.page-id-858,
.page-id-1727,
.page-id-878,
.page-id-1737,
.page-id-814,
.page-id-1704,
.page-id-1714,
.page-id-972,
.page-id-915,
.page-id-1728 {
    .lang-item-es,
    .lang-item-en {
        display: inline !important;
    }
}

.page-id-790 {
    .site-content-primary {
        img {
            height: 200px;
        }
    }
}

.page-id-2240 {
    .site-content-primary {
        img {
            height: 226px;
        }
    }
}


/*=============== Blog & Tweeter Module ===============*/

.bloginfo-module {
    font-family: $header-font-family;
    background-color: $brown;
    .inner-wrap {
        .bi-header {
            border-bottom: 1px solid $dark-gray;
            margin-bottom: em(15);
            .bi-header-title {
                display: block;
                margin-top: 0;
                color: $white;
                font-size: em(34);
                &:hover {
                    color: $orange;
                }
            }
            .social-wrap {
                overflow: hidden;
                display: block;
                width: em(200);
                margin: 0 auto em(15) auto;
                a {
                    display: block;
                    float: left;
                    width: 20%;
                    text-align: center;
                    &:hover {
                        opacity: .75;
                    }
                }
                img {
                    display: inline-block;
                    margin: 0 auto;
                    width: 1.1em;
                    height: auto;
                    vertical-align: middle;
                }
            }
        }
        #rss-feeds {
            clear: both;
            ul {
                li {
                    .rss-link {
                        color: $white;
                        display: block;
                        font-size: em(22);
                        line-height: em(28, 22);
                        margin-bottom: em(15, 22);
                    }
                    .rss-content {
                        color: $medium-gray;
                        font-size: em(16);
                        line-height: em(18);
                    }
                    .rss-morelink {
                        color: $orange;
                        text-decoration: underline;
                        font-size: em(14);
                        &:hover {
                            text-decoration: none;
                            color: $dark-orange;
                        }
                    }
                }
            }
        }
        #twitter-feeds {
            border-top: 1px solid $dark-gray;
            margin-top: em(10);
            padding-top: em(10);
            ul {
                li {
                    .user {
                        a {
                            >span {
                                span {
                                    color: $white;
                                    font-size: em(20, 17);
                                }
                            }
                            span {
                                color: $medium-gray;
                                font-size: em(17);
                            }
                        }
                    }
                    .tweet {
                        color: $medium-gray;
                        font-size: em(16);
                        margin: em(3) 0 em(5) 0;
                        line-height: em(16);
                        a {
                            color: $orange;
                            text-decoration: none;
                            &:hover {
                                text-decoration: none;
                                color: $dark-orange;
                            }
                        }
                    }
                    .timePosted {
                        display: none;
                        color: $medium-gray;
                        font-size: em(17);
                        margin: 0;
                    }
                    .interact {
                        display: none;
                        margin-bottom: em(5);
                        a {
                            color: $orange;
                            text-decoration: none;
                            font-size: em(15);
                            &:hover {
                                text-decoration: none;
                                color: $dark-orange;
                            }
                        }
                    }
                    &:first-child {
                        padding-bottom: em(10);
                        border-bottom: 1px solid $dark-gray;
                    }
                }
            }
        }
    }
    @include mq(medium) {
        background-color: transparent;
        .inner-wrap {
            .bi-header {
                clear: both;
                .bi-header-title {
                    float: left;
                    font-size: em(36);
                }
                .social-wrap {
                    float: right;
                    margin: em(8) em(132) 0 0;
                }
            }
            #rss-feeds {
                width: 65%;
                float: left;
                ul {
                    li {
                        @include span-columns(6 of 12);
                        @include omega(2n);
                        .rss-link {
                            font-size: em(24);
                            line-height: em(28, 24);
                            margin-bottom: em(15, 24);
                        }
                    }
                }
            }
            #twitter-feeds {
                float: right;
                width: 30%;
                border-top: none;
                margin-top: 0;
                padding-top: 0;
                ul {
                    li {
                        .user {
                            a {
                                >span {
                                    span {
                                        font-size: em(21, 18);
                                    }
                                }
                                span {
                                    font-size: em(18);
                                }
                            }
                        }
                        .timePosted {
                            font-size: em(18);
                        }
                    }
                }
            }
        }
    }
}
