// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: MyriadProRegular,"Myriad Pro","Segoe UI",Helvetica,Arial,sans-serif;
$header-font-family: 'PT Sans Narrow', sans-serif;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$baseline:em(8);
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////
$white:#fff;
$transwhite:rgba(255,255,255,.75);
$light-transwhite:rgba(255,255,255,.5);
$black:#000;
$transblack:rgba(0,0,0,1);
$light-transblack:rgba(0,0,0,.5);
$blue: #477DCA;
$gray: #beb2ad;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$orange:#d2641f;
//$orange:#fc8c0f;
$light-orange:#ffa745;
$dark-orange:#af3d01;
$brown:#310006;

@mixin transblackbg {
	background-color:$black;
	background-color:$transblack;
}
@mixin light-transblackbg {
	background-color:$black;
	background-color:$light-transblack;
}
@mixin transblackbgkill {
	background-color:transparent;
}
@mixin light-transblackbgkill {
	background-color:transparent;
}
@mixin orange-gradient {
	@include background(linear-gradient(#f98b0e, #ec5500) left repeat);
}

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: $orange;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;



// Media Queries
///////////////////////////////////////////////////////////////////////////////
$medium:40em;
$large:60em;
$huge:80em;
@mixin mq($mq) {
  @if $mq == small  { @media (max-width: $medium) { @content; } }
  @if $mq == medium  { @media (min-width: $medium) { @content; } }
  @if $mq == large { @media (min-width: $large) { @content; } }
  @if $mq == huge { @media (min-width: $huge) { @content; } }
  @if $mq == retina  { @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; } }
}




// Other
///////////////////////////////////////////////////////////////////////////////
@mixin nowrap {
	white-space:nowrap;
	text-overflow:ellipsis;
}
// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
