body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight:normal;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: $base-font-size * 2; 
  margin-top:0;
  @include mq(medium) {
    font-size:$base-font-size * 2.5;
  }
  @include mq(large) {
    font-size:$base-font-size * 3;
    margin-bottom:0.33333333333333em;
  }
}

h2 {
  font-size: $base-font-size * 2; // 16 * 2 = 32px
  margin-bottom:.5em;
  margin-top:1em;
}

h3 {
  font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
  margin-top:.75em;
  margin-bottom:.5em;
}

h4 {
  font-size: $base-font-size * 1.25; // 16 * 1.5 = 24px
  margin-top:.75em;
  margin-bottom:.5em;
  
}

h5 {
  font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
  font-family: $header-font-family;
}

h6 {
  font-size: $base-font-size;
}
.header-invert {
	background-color:$black;
	color:$white;
	padding:$baseline*.5 $baseline;
}
p {
  margin: 0 0 ($base-line-height * .5);
}

a {
  color: $base-link-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  	p {
	  color:$black;
	}
	h1, h2, h3, h4, h5, h6 {
	  //color:$orange;
	}
  &:hover {
    color: $hover-link-color;
    p {
	  //color:$dark-gray;
	}
	h1, h2, h3, h4, h5, h6 {
	  //color:$black;
	}
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
 
}
.white-link {
  color:$white !important;
  &:hover {
    color:$gray !important;
  }
}
.orange-link {
  color:$orange !important;
  &:visited {
    color:$orange !important;
  }
  &:hover {
      color:lighten($orange,15%) !important;
    }
}
hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
  clear: both;
}

img {
  //margin: 0;
  max-width: 100%;
  clear: both;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
.emph {
	color:$orange;
	font-weight:normal;
	line-height:1.25em;
	font-size:em(24);
	font-style: italic;
}

.menu-item-1700 {
	display:none !important;
}