<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en">        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en">               <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="{{ meta_author }}">
    <meta name="description" content="{{ page_meta.meta_description }}">
    <meta name="generator" content="HubSpot">
    <title>{{ page_meta.html_title }}</title>
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}

    
    {{ required_head_tags }}
    {% style include_default_custom_css="true" %}
    <link rel='stylesheet' id='screen-css'  href='http://www.sigmathermal.com/wp-content/themes/sigma-default/style.css?ver=4.1.1' type='text/css' media='screen' />

<script type="text/javascript" src="http://www.sigmathermal.com/wp-content/themes/sigma-default/js/vendor/modernizr-2.6.3.min.js?ver=4.0"></script>
<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
            <script src="http://www.sigmathermal.com/wp-content/themes/sigma-default/js/vendor/respond.min.js"></script> <script src="http://www.sigmathermal.com/wp-content/themes/sigma-default/js/vendor/selectivizr-min.js"></script>
        <![endif]-->

    {{ user_head_overrides }}


</head>
<body class="full-width-template {{ builtin_body_classes }}" style="">
    <div class="header-container-wrapper">
    <div class="header-container container-fluid">

        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
        <div class="row-fluid ">
            <div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
{% include 'generated_global_groups/1610750926.html' %}
            </div><!--end widget-span -->
        </div><!--end row-->
        </div><!--end row-wrapper -->

    </div><!--end header -->
</div><!--end header wrapper -->

<div class="body-container-wrapper">
    <div class="body-container container-fluid">

        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
        <div class="row-fluid ">
            <div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

                <div class="row-fluid-wrapper row-depth-1 row-number-2 ">
                <div class="row-fluid ">
                    <div class="span12 widget-span widget-type-cell full-width" style="" data-widget-type="cell" data-x="0" data-w="12">

                        <div class="row-fluid-wrapper row-depth-2 row-number-1 ">
                        <div class="row-fluid ">
                            <div class="span12 widget-span widget-type-widget_container full-width" style="" data-widget-type="widget_container" data-x="0" data-w="12">
                                {% widget_container "module_13885006758448185" overrideable=False, per_widget_wrapper_html='', wrapping_html='', value='', label='Full Width Column' %}
                                    {% widget_block rich_text "module_139876945709020601" overrideable=True, label='Rich Text'  %}
                                        {% widget_attribute "html" %}<h2>Something Powerful</h2>
<h3>Tell The Reader More</h3>
<p>The headline and subheader tells us what you're <a href="#">offering</a>, and the form header closes the deal. Over here you can explain why your offer is so great it's worth filling out a form for.</p>
<p>Remember:</p>
<ul>
    <li>Bullets are great</li>
    <li>For spelling out <a href="#">benefits</a> and</li>
    <li>Turning visitors into leads.</li>
</ul>{% end_widget_attribute %}
                                    {% end_widget_block %}

                                {% end_widget_container %}
                            </div><!--end widget-span -->
                        </div><!--end row-->
                        </div><!--end row-wrapper -->
                    </div><!--end widget-span -->
            </div><!--end row-->
            </div><!--end row-wrapper -->
        </div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end body -->
</div><!--end body wrapper -->

<div class="footer-container-wrapper">
    <div class="footer-container container-fluid">

        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
        <div class="row-fluid ">
            <div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
{% include 'generated_global_groups/1610807131.html' %}
            </div><!--end widget-span -->
        </div><!--end row-->
        </div><!--end row-wrapper -->

    </div><!--end footer -->
</div><!--end footer wrapper -->


    {{ standard_footer_includes }}
    <!-- Generated by the HubSpot Template Builder - template version 1.03 -->
</body>
</html>
