/*!
Theme Name: 	Sigma Thermal Default
Theme URI: 		http://julian.is
Description: 	Default Template for Sigma Thermal
Version: 		1.0
Author: 		Julian Gaviria
Author URI: 	julian.is
Tags: 			starkers, naked, clean, basic, html5, boilerplate, sass, smacss
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 1em;
  line-height: 1.4;
  background: #fff; }

.no-svg body {
  background: #fff; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 100%; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html, button, input, select, textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE 6/7.
 */
p, pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before, q:after {
  content: '';
  content: none; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE 6/7.
 */
menu, ol, ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*=== Print ===*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }
 }

body {
  background-color: #310006;
  background-image: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed; }
  @media (min-width: 40em) {
    body {
      background-image: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/main-bg-medium.jpg);
      background-attachment: scroll; } }
  @media (min-width: 60em) {
    body {
      background-image: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/main-bg.jpg); } }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

li {
  margin-bottom: 10px; }

.bullet-style {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  .bullet-style li {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 1.5em; }
    .bullet-style li p {
      font-size: 1em; }
    .bullet-style li:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(img/ico-bullet.svg);
      background-position: center center;
      background-size: 0.375em 0.375em;
      background-repeat: no-repeat; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

fieldset {
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: MyriadProRegular, "Myriad Pro", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: MyriadProRegular, "Myriad Pro", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

body {
  color: #333;
  font-family: MyriadProRegular, "Myriad Pro", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: normal;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2em;
  margin-top: 0; }
  @media (min-width: 40em) {
    h1 {
      font-size: 2.5em; } }
  @media (min-width: 60em) {
    h1 {
      font-size: 3em;
      margin-bottom: 0.3333333333em; } }

h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-top: 1em; }

h3 {
  font-size: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.5em; }

h4 {
  font-size: 1.25em;
  margin-top: 0.75em;
  margin-bottom: 0.5em; }

h5 {
  font-size: 1.25em;
  font-family: 'PT Sans Narrow', sans-serif; }

h6 {
  font-size: 1em; }

.header-invert {
  background-color: #000;
  color: #fff;
  padding: 0.25em 0.5em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477DCA;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a p {
    color: #000; }
  a:hover {
    color: #d2641f; }
  a:active, a:focus {
    color: #d2641f;
    outline: none; }

.white-link {
  color: #fff !important; }
  .white-link:hover {
    color: #beb2ad !important; }

.orange-link, .footer-nav a {
  color: #d2641f !important; }
  .orange-link:visited, .footer-nav a:visited {
    color: #d2641f !important; }
  .orange-link:hover, .footer-nav a:hover {
    color: #e68e57 !important; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
  clear: both; }

img {
  max-width: 100%;
  clear: both; }

abbr, acronym {
  border-bottom: 1px dotted #DDD;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

.emph {
  color: #d2641f;
  font-weight: normal;
  line-height: 1.25em;
  font-size: 1.5em;
  font-style: italic; }

.menu-item-1700 {
  display: none !important; }

/*=============== Layout Patterns ===============*/
@media (min-width: 40em) {
  .col-1 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 6.1721527019%; }
    .col-1:last-child {
      margin-right: 0; }

  .col-2 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 14.7019570017%; }
    .col-2:last-child {
      margin-right: 0; }

  .col-3 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .col-3:last-child {
      margin-right: 0; }

  .col-4 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .col-4:last-child {
      margin-right: 0; }

  .col-5 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    .col-5:last-child {
      margin-right: 0; }

  .col-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .col-6:last-child {
      margin-right: 0; }

  .col-7 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .col-7:last-child {
      margin-right: 0; }

  .col-8 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .col-8:last-child {
      margin-right: 0; }

  .col-9 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .col-9:last-child {
      margin-right: 0; }

  .col-10 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%; }
    .col-10:last-child {
      margin-right: 0; }

  .col-11 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 91.4701957002%; }
    .col-11:last-child {
      margin-right: 0; }

  .col-12 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .col-12:last-child {
      margin-right: 0; }

  .col-1of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 8.2947238322%; }
    .col-1of9:last-child {
      margin-right: 0; }

  .col-2of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 19.7578833532%; }
    .col-2of9:last-child {
      margin-right: 0; }

  .col-3of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 31.2210428741%; }
    .col-3of9:last-child {
      margin-right: 0; }

  .col-4of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 42.6842023951%; }
    .col-4of9:last-child {
      margin-right: 0; }

  .col-5of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 54.1473619161%; }
    .col-5of9:last-child {
      margin-right: 0; }

  .col-6of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 65.6105214371%; }
    .col-6of9:last-child {
      margin-right: 0; }

  .col-7of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 77.073680958%; }
    .col-7of9:last-child {
      margin-right: 0; }

  .col-8of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 88.536840479%; }
    .col-8of9:last-child {
      margin-right: 0; }

  .col-1of2 {
    float: left;
    display: block;
    margin-right: 16.0363113405%;
    width: 41.9818443298%; }
    .col-1of2:last-child {
      margin-right: 0; }

  .col-last {
    margin-right: 0;
    margin-right: 0 !important; }
 }

.col-2-3 {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 47.5854210427%; }
  .col-2-3:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .col-2-3 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .col-2-3:last-child {
        margin-right: 0; } }

.col-2-last-3 {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 47.5854210427%;
  margin-right: 0; }
  .col-2-last-3:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .col-2-last-3 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .col-2-last-3:last-child {
        margin-right: 0; } }

.col-2-3-last {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 47.5854210427%; }
  .col-2-3-last:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .col-2-3-last {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%;
      margin-right: 0; }
      .col-2-3-last:last-child {
        margin-right: 0; } }

@media (min-width: 40em) {
  .m-col-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .m-col-6:last-child {
      margin-right: 0; }

  .m-col-last {
    margin-right: 0; }
 }

@media (min-width: 60em) {
  .l-col-3 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .l-col-3:last-child {
      margin-right: 0; }

  .l-col-last {
    margin-right: 0; }
 }

@media (max-width: 40em) {
  .s-col-last {
    margin-right: 0; }
 }

@media (min-width: 40em) {
  .last {
    margin-right: 0 !important; } }

.row {
  display: block;
  clear: both; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.rows-of-2 {
  display: block; }
  .rows-of-2:after {
    content: "";
    display: table;
    clear: both; }
  .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-2 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%; }
        .rows-of-2 > *:last-child {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n) {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n+1) {
          clear: left; }
        .rows-of-2 > *:nth-last-child(2):last-child {
          margin-bottom: 0 !important; }
        .rows-of-2 > *:nth-last-child(1):last-child {
          margin-bottom: 0 !important; } }

.rows-of-3 {
  display: block; }
  .rows-of-3:after {
    content: "";
    display: table;
    clear: both; }
  .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-3 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .rows-of-3 > *:last-child {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n) {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n+1) {
          clear: left; } }

.rows-of-4 {
  display: block; }
  .rows-of-4:after {
    content: "";
    display: table;
    clear: both; }
  .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-4 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 23.2317613015%; }
        .rows-of-4 > *:last-child {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n) {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n+1) {
          clear: left; } }

@media (max-width: 40em) {
  .mobile-rows-of-2 {
    display: block; }
    .mobile-rows-of-2:after {
      content: "";
      display: table;
      clear: both; }
    .mobile-rows-of-2 > * {
      margin-bottom: 1.5em;
      display: block;
      position: relative;
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 46.288514824%; }
      .mobile-rows-of-2 > * > *:first-child {
        margin-top: 0; }
      .mobile-rows-of-2 > *:nth-last-child(1) {
        background-color: red;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:nth-last-child(2) {
        background-color: green;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:last-child {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n) {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n+1) {
        clear: left; } }

/*=============== Inner Wrap ===============*/
.inner-wrap {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1em 1.5em 1em; }
  .inner-wrap:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 40em) {
    .inner-wrap {
      padding: 2.5em 1.5em 2.5em 1.5em; } }

/*=============== Main Nav ===============*/
.menu > ul ul, #hs_menu_wrapper_main_menu > ul ul {
  clear: both;
  padding: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

@media (min-width: 40em) {
  transition: 0; }

.js .menu, .js .menu > ul ul, .js #hs_menu_wrapper_main_menu, .js #hs_menu_wrapper_main_menu > ul ul {
  overflow: hidden;
  max-height: 0;
  margin: 0; }

.menu.active, .js .menu > ul ul.active, #menu.active > span > #hs_menu_wrapper_main_menu, .js #hs_menu_wrapper_main_menu > ul ul.active {
  max-height: 55em; }

.menu > ul, #hs_menu_wrapper_main_menu > ul {
  padding: 0;
  margin: 0; }
.menu li a, #hs_menu_wrapper_main_menu li a {
  display: block; }
.menu li.has-subnav, #hs_menu_wrapper_main_menu li.has-subnav {
  position: relative; }
  .menu li.has-subnav > a:after, #hs_menu_wrapper_main_menu li.has-subnav > a:after {
    content: '+';
    position: absolute;
    top: 1em;
    right: 1em;
    display: block; }
  .menu li.has-subnav > a.active:after, #hs_menu_wrapper_main_menu li.has-subnav > a.active:after {
    content: "-"; }
.menu li.hs-item-has-children, #hs_menu_wrapper_main_menu li.hs-item-has-children {
  position: relative; }
  .menu li.hs-item-has-children > a:after, #hs_menu_wrapper_main_menu li.hs-item-has-children > a:after {
    content: '+';
    position: absolute;
    top: 1em;
    right: 1em;
    display: block; }
  .menu li.hs-item-has-children > a.active:after, #hs_menu_wrapper_main_menu li.hs-item-has-children > a.active:after {
    content: "-"; }

@media (min-width: 40em) {
  .js .menu, .js .menu > ul ul, .js #hs_menu_wrapper_main_menu, .js #hs_menu_wrapper_main_menu > ul ul {
    max-height: none;
    overflow: visible; }

  .js .menu > ul ul, .js #hs_menu_wrapper_main_menu > ul ul {
    display: none; }

  .menu.active, .js .menu > ul ul.active, #hs_menu_wrapper_main_menu.active, .js #hs_menu_wrapper_main_menu > ul ul.active {
    display: block; }

  .js .menu > ul li:hover > ul, .js #hs_menu_wrapper_main_menu > ul li:hover > ul {
    display: block; }

  .menu li.has-subnav, .menu li.hs-item-has-children, .js #hs_menu_wrapper_main_menu li.has-subnav, .js #hs_menu_wrapper_main_menu li.hs-item-has-children {
    position: static; }
    .menu li.has-subnav > a:after, .menu li.hs-item-has-children > a:after, .js #hs_menu_wrapper_main_menu li.has-subnav > a:after, .js #hs_menu_wrapper_main_menu li.hs-item-has-children > a:after {
      content: "";
      display: inline-block;
      position: static;
      top: 0.25em;
      bottom: auto;
      right: 8%;
      width: 16px;
      height: 16px;
      margin-left: 0.15em;
      background-image: url(img/ico-arrowdown.svg);
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-position: center center; }
  .menu > ul > li, .js #hs_menu_wrapper_main_menu > ul > li {
    display: block;
    float: left; }
  .menu > ul ul.sub-menu, .menu > ul ul.hs-menu-children-wrapper, .js #hs_menu_wrapper_main_menu > ul ul.sub-menu, .js #hs_menu_wrapper_main_menu > ul ul.hs-menu-children-wrapper {
    position: absolute;
    top: 2.5em;
    left: 0;
    right: 0; }
    .menu > ul ul.sub-menu li, .menu > ul ul.hs-menu-children-wrapper li, .js #hs_menu_wrapper_main_menu > ul ul.sub-menu li, .js #hs_menu_wrapper_main_menu > ul ul.hs-menu-children-wrapper li {
      position: relative; }
 }

@media (min-width: 60em) {
  .menu > ul > li, #hs_menu_wrapper_main_menu > ul > li {
    display: block;
    float: left; }
  .menu > ul ul.sub-menu li, .menu > ul ul.hs-menu-children-wrapper li, #hs_menu_wrapper_main_menu > ul ul.sub-menu li, #hs_menu_wrapper_main_menu > ul ul.hs-menu-children-wrapper li {
    position: relative; }
 }

.menu-link {
  width: 2em;
  float: right;
  text-align: center;
  background: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-nav.svg) top center no-repeat; }
  .menu-link span {
    font-size: 0.75em;
    display: block;
    padding-top: 1.4em;
    color: #fff; }

.no-svg .menu-link span {
  background: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-nav.png) center center no-repeat; }

.menu, #hs_menu_wrapper_main_menu {
  clear: both;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5); }
  .menu a, #hs_menu_wrapper_main_menu a {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #fff;
    font-size: 1.3125em; }
  @media (min-width: 40em) {
    .menu, #hs_menu_wrapper_main_menu {
      background-color: transparent; }
      .menu a, #hs_menu_wrapper_main_menu a {
        font-size: 1.125em; } }
  @media (min-width: 60em) {
    .menu a, #hs_menu_wrapper_main_menu a {
      font-size: 1.3125em; }
 }

.level-1 > li, #hs_menu_wrapper_main_menu > ul > li {
  border-top: 1px solid black; }
  .level-1 > li a, #hs_menu_wrapper_main_menu > ul > li a {
    padding: 1em 2em 1em 1em; }
  .level-1 > li:first-child, #hs_menu_wrapper_main_menu > ul > li:first-child {
    border-top: 0; }

.sub-menu, .hs-menu-children-wrapper {
  z-index: 1; }
  .sub-menu li, .hs-menu-children-wrapper li {
    border-top: 1px solid black; }
    .sub-menu li a, .hs-menu-children-wrapper li a {
      font-size: 0.8em;
      text-align: left;
      /*background-image: url(img/ico-arrow.svg);
			background-position:95% 50%;
			background-repeat:no-repeat;
			background-size:0.625em 1.125em;*/ }

@media (min-width: 40em) {
  .level-1 {
    text-align: center;
    width: 100%; }
    .level-1 > li {
      border-top: 0;
      border-radius: 5px; }
      .level-1 > li a {
        padding: 0.5em 0;
        border-radius: 5px; }
      .level-1 > li:hover {
        background: #000; }
    .level-1 li.has-subnav {
      border-radius: 5px 5px 0 0; }
      .level-1 li.has-subnav a {
        border-radius: 5px 5px 0 0; }

  #hs_menu_wrapper_main_menu > ul {
    text-align: center;
    width: 100%; }
    #hs_menu_wrapper_main_menu > ul > li {
      border-top: 0;
      border-radius: 5px; }
      #hs_menu_wrapper_main_menu > ul > li a {
        padding: 0.5em 0;
        border-radius: 5px; }
      #hs_menu_wrapper_main_menu > ul > li:hover {
        background: #000; }
    #hs_menu_wrapper_main_menu > ul li.has-subnav {
      border-radius: 5px 5px 0 0; }
      #hs_menu_wrapper_main_menu > ul li.has-subnav a {
        border-radius: 5px 5px 0 0; }

  .sub-menu {
    background: #000; }
    .sub-menu li {
      border-radius: 0 !important;
      padding: 0.5em 1em;
      width: 33.3% !important;
      float: left !important;
      border-top: 0; }
      .sub-menu li a {
        font-size: 1.2em;
        text-align: left;
        border-radius: 0px;
        background-image: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-arrowright-sq.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 0.625em 0.625em;
        padding-left: 1em;
        border-radius: 0 !important; }
        .sub-menu li a:hover {
          color: #d2641f; }

  .hs-menu-children-wrapper {
    background: #000; }
    .hs-menu-children-wrapper .hs-menu-depth-2 {
      border-radius: 0 !important;
      padding: 0.5em 1em;
      width: 33.3% !important;
      float: left !important;
      border-top: 0; }
      .hs-menu-children-wrapper .hs-menu-depth-2 a {
        font-size: 1.2em;
        text-align: left;
        border-radius: 0px;
        background-image: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-arrowright-sq.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 0.625em 0.625em;
        padding-left: 1em !important;
        border-radius: 0 !important; }
        .hs-menu-children-wrapper .hs-menu-depth-2 a:hover {
          color: #d2641f; }
 }

@media (min-width: 40em) {
  /* Wordpress mEnu spacing */
  .nav-1 {
    width: 12%; }

  .nav-2 {
    width: 12%; }

  .nav-3 {
    width: 11.5%; }

  .nav-4 {
    width: 10%; }

  .nav-5 {
    width: 12%; }

  .nav-6 {
    width: 12%; }

  .nav-7 {
    width: 13%; }

  .menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-3065 {
    width: 16%; }

  /* Hubspot Menu spacing */
  #hs_menu_wrapper_main_menu > ul > .hs-menu-item:nth-child(1) {
    width: 12%; }
  #hs_menu_wrapper_main_menu > ul > .hs-menu-item:nth-child(2) {
    width: 12%; }
  #hs_menu_wrapper_main_menu > ul > .hs-menu-item:nth-child(3) {
    width: 11.5%; }
  #hs_menu_wrapper_main_menu > ul > .hs-menu-item:nth-child(4) {
    width: 10%; }
  #hs_menu_wrapper_main_menu > ul > .hs-menu-item:nth-child(5) {
    width: 12%; }
  #hs_menu_wrapper_main_menu > ul > .hs-menu-item:nth-child(6) {
    width: 12%; }
  #hs_menu_wrapper_main_menu > ul > .hs-menu-item:nth-child(7) {
    width: 13%; }
  #hs_menu_wrapper_main_menu > ul > .hs-menu-item:nth-child(8) {
    width: 16%; }
 }

/*=============== Logo ===============*/
/*=============== Social Media ===============*/
.social-wrap {
  overflow: hidden; }
  .social-wrap a {
    display: block;
    float: left;
    width: 20%;
    text-align: center; }
    .social-wrap a:hover {
      opacity: 0.75; }
  .social-wrap img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle; }

/*=============== Design Patterns ===============*/
.inner-wrap {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1em 1.5em 1em; }
  .inner-wrap:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 40em) {
    .inner-wrap {
      padding: 2.5em 1.5em 2.5em 1.5em; } }

.dark-module, .black-module, .grain-module {
  color: #fff; }
  .dark-module a, .black-module a, .grain-module a {
    color: #fff; }
    .dark-module a:visited, .black-module a:visited, .grain-module a:visited {
      color: #fff; }
    .dark-module a:hover, .black-module a:hover, .grain-module a:hover {
      color: #fff;
      text-decoration: none; }

.black-module {
  border-top: 1px solid #333;
  background-color: #000; }

.grain-module {
  background-image: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/bg-tile-grain.jpg); }

.bordertop-gradient {
  position: relative; }
  .bordertop-gradient:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(http://www.sigmathermal.com/wp-content/themes/sigma-default/img/border-gradient.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: top center; }

.media-object {
  overflow: hidden; }

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%; }
  .media-object-img img {
    width: 100%; }

.media-object-body {
  width: 75%;
  float: left; }

.media-object-header {
  margin-top: 0;
  margin-bottom: 0.15em; }

.media-grid-2 > * {
  margin-bottom: 1em; }
@media (min-width: 40em) {
  .media-grid-2 > * {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 48.4157821556%;
    margin-bottom: 1.5em; }
    .media-grid-2 > *:last-child {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n) {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n+1) {
      clear: left; }
 }

.grayboxlink {
  display: block;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  background-image: url(img/ico-arrowright-l.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1.5em 1.5em; }
  .grayboxlink:visited {
    color: #fff; }
  .grayboxlink:hover {
    color: #fff;
    background: -webkit-linear-gradient(#480c04, #913003) left repeat;
    background: linear-gradient(#480c04, #913003) left repeat; }
  @media (min-width: 40em) {
    .grayboxlink {
      background-image: none; } }
  .grayboxlink.ico-download .grayboxlink-head {
    background-image: url(img/ico-download.png); }
  .grayboxlink.ico-video .grayboxlink-head {
    background-image: url(img/ico-video.png); }
  .grayboxlink.ico-rfq .grayboxlink-head {
    background-image: url(img/ico-rfq.png); }
  .grayboxlink.ico-cog .grayboxlink-head {
    background-image: url(img/ico-cog.png); }

.grayboxlink-head {
  font-size: 1.3125em;
  padding: 0.75em 0 0.75em 2.75em;
  background-repeat: no-repeat;
  background-position: 0.75em center; }

.grayboxlink-bd {
  display: none; }
  @media (min-width: 40em) {
    .grayboxlink-bd {
      font-size: 0.875em;
      line-height: 1.25em;
      display: block;
      color: #DDD;
      padding: 0 1.5em 1.25em 1.5em;
      margin-bottom: 0;
      margin-top: 0; } }

/*=============== Javascript Related ===============*/
.headexpand {
  position: relative;
  border-bottom: 1px solid #333;
  padding: 0.75em 0;
  margin: 0; }
  .headexpand:after {
    position: absolute;
    right: 0.5em;
    content: "+";
    margin-left: 1em; }
  .headexpand.active:after {
    content: "-"; }
  @media (min-width: 40em) {
    .headexpand {
      border-bottom: 0;
      padding: 0; }
      .headexpand:after {
        display: none; } }

.headexpand-wrap > *:last-child {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.headexpand-wrap > *:last-child.active {
  max-height: 100em; }
@media (min-width: 40em) {
  .headexpand-wrap > *:last-child {
    overflow: visible;
    max-height: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

  .headexpand-wrap > *:last-child.active {
    max-height: auto; }
 }

/*=============== Site Header ===============*/
@media (min-width: 40em) {
  .site-header .inner-wrap {
    padding-top: 2em;
    position: relative; } }

.site-header-top {
  margin-bottom: 1em;
  overflow: hidden;
  position: relative; }

@media (min-width: 40em) {
  .site-header-bottom {
    position: relative; } }

.utility-nav {
  text-align: right;
  display: block; }
  .utility-nav .ico-iso {
    font-size: 0.625em;
    text-align: center;
    line-height: 1.25em;
    display: inline-block;
    color: #fff;
    margin-right: 1em;
    display: none; }
  .utility-nav .social-wrap {
    display: none; }
  .utility-nav .secondary-nav {
    display: none; }
  .utility-nav .secondary-nav li {
    display: inline; }
  .utility-nav .sun-ph {
    text-align: right;
    clear: both;
    color: #ffffff;
    margin-top: 10px;
    display: inline-block; }
  @media (min-width: 40em) {
    .utility-nav {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 57.3509785009%;
      margin-right: 0; }
      .utility-nav:last-child {
        margin-right: 0; }
      .utility-nav .ico-iso {
        display: inline-block; }
      .utility-nav .social-wrap {
        display: block;
        width: 11.2em;
        float: right;
        clear: both;
        margin-bottom: 1em;
        line-height: 1em;
        vertical-align: top; }
        .utility-nav .social-wrap img {
          float: right; }
      .utility-nav .secondary-nav {
        display: block;
        float: right;
        margin-bottom: 1em;
        clear: both;
        line-height: 1em;
        vertical-align: top; }
        .utility-nav .secondary-nav a {
          font-size: 0.875em;
          color: #d2641f;
          display: inline-block;
          margin-left: 1em; }
          .utility-nav .secondary-nav a:visited {
            color: #d2641f; }
          .utility-nav .secondary-nav a:hover {
            color: #e68e57; } }
  @media (min-width: 60em) {
    .utility-nav {
      vertical-align: bottom; }
      .utility-nav .ico-iso {
        display: inline-block;
        margin-right: 0; }
      .utility-nav .social-wrap {
        clear: none;
        float: none;
        display: inline-block;
        margin-bottom: 0;
        margin-right: 0.5em; }
      .utility-nav .secondary-nav {
        float: none;
        display: inline-block;
        margin-bottom: 0; } }

.site-logo {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 65.0569473618%; }
  .site-logo:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .site-logo {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 40.2913699012%; }
      .site-logo:last-child {
        margin-right: 0; } }

/*=============== Site Intro ===============*/
.site-intro {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5); }
  .site-intro .inner-wrap {
    padding-top: 1.5em;
    padding-bottom: 1.5em; }

.site-intro-h1 {
  color: #fff; }
  .site-intro-h1 span {
    font-size: 0.75em;
    color: #beb2ad;
    display: block; }
  @media (min-width: 60em) {
    .site-intro-h1 {
      font-size: 2.75em; } }

/*=============== Product Carousel ===============*/
.product-carousel {
  display: block;
  position: relative;
  border-top: 1px solid #6b4a3a;
  padding-left: 2.1875em !important;
  padding-right: 2.1875em !important; }
  .product-carousel:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 40em) {
    .product-carousel {
      margin-top: 1em !important;
      padding-left: 2.1875em !important;
      padding-right: 2.1875em !important;
      margin: 0 auto !important;
      display: block;
      overflow: hidden; } }
  @media (min-width: 60em) {
    .product-carousel {
      padding-left: 3.125em !important;
      padding-right: 3.125em !important; } }

.product-item {
  border-left: 1px solid #6b4a3a;
  display: block;
  overflow: hidden;
  width: 50%;
  float: left;
  position: relative;
  padding: 0.5em;
  height: 6.25em; }
  .product-item:last-child {
    border-right: 1px solid #6b4a3a; }
  @media (min-width: 40em) {
    .product-item {
      text-align: center;
      width: 25%;
      padding: 1em;
      height: 18.75em; }
      .product-item:hover .product-img, .product-item:hover .product-figure {
        opacity: 1; }
      .product-item:hover .product-inner-wrap {
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.5); } }
  @media (min-width: 60em) {
    .product-item {
      padding: 1.5em;
      height: 25em; }
      .product-item:hover .product-inner-wrap {
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.5);
        max-height: 50em; }
      .product-item:hover .product-description {
        border-top: 1px solid #af3d01;
        display: block; } }
  @media (min-width: 80em) {
    .product-item {
      height: 21.875em; } }

.product-inner-wrap {
  position: absolute;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  left: 1em;
  right: 1em;
  bottom: 1em;
  max-height: 4em;
  padding: 0;
  -webkit-transition: background-color 0.25s ease-out 0s, max-height 2s linear 0s;
  -moz-transition: background-color 0.25s ease-out 0s, max-height 2s linear 0s;
  transition: background-color 0.25s ease-out 0s, max-height 2s linear 0s; }
  @media (min-width: 40em) {
    .product-inner-wrap {
      padding: 0 1.5em; } }
  @media (min-width: 60em) {
    .product-inner-wrap {
      max-height: 4em; } }

.product-header {
  font-size: 1em;
  color: #fff;
  text-align: center; }
  @media (min-width: 40em) {
    .product-header {
      font-size: 1.125em;
      padding: 0.75em 0 0 0;
      float: none;
      text-align: center;
      margin-left: -24px;
      margin-right: -24px; }
      .product-header:after {
        content: '';
        display: inline-block;
        height: 0.9375em;
        width: 0.9375em;
        position: absolute;
        bottom: 0.25em;
        right: 0.25em;
        background-image: url(img/ico-arrowright-sq.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 0.625em 0.625em; } }
  @media (min-width: 60em) {
    .product-header {
      font-size: 1.25em;
      padding: 1.0434782609em 0 0 0; } }
  @media (min-width: 80em) {
    .product-header {
      font-size: 1.4375em; }
      .product-header:after {
        background-size: 0.625em 0.625em; } }

.product-description {
  color: #fff;
  display: none;
  padding-top: 0.5em;
  margin-top: 0.5em;
  display: none; }
  @media (min-width: 40em) {
    .product-description {
      text-align: left;
      font-size: 0.875em;
      line-height: 1.25em; } }
  @media (min-width: 80em) {
    .product-description {
      font-size: 1em;
      line-height: 1.5em; } }

.product-img {
  display: block;
  width: 25%;
  float: left;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 0;
  opacity: 0.35;
  margin: auto !important;
  -webkit-transition: opacity 0.5s linear 0s;
  -moz-transition: opacity 0.5s linear 0s;
  transition: opacity 0.5s linear 0s; }
  @media (min-width: 40em) {
    .product-img {
      opacity: 0.5;
      width: 100%;
      float: none;
      margin-bottom: 1em; } }

.product-figure {
  display: block;
  float: left;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.35;
  margin: auto !important;
  background-position: center center;
  background-size: 100%;
  -webkit-transition: opacity 0.5s linear 0s;
  -moz-transition: opacity 0.5s linear 0s;
  transition: opacity 0.5s linear 0s; }
  @media (min-width: 40em) {
    .product-figure {
      opacity: 0.5;
      float: none;
      margin-bottom: 1em;
      background-size: 100%; } }

.flex-direction-nav a {
  width: 35px;
  background-size: 30px 30px; }
  @media (min-width: 60em) {
    .flex-direction-nav a {
      width: 50px;
      background-size: 40px 40px; } }

/*=============== Buttons & Calls to Action ===============*/
.btn, .btn-orange, .btn-orange-l {
  font-family: 'PT Sans Narrow', sans-serif;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }
  .btn:hover, .btn-orange:hover, .btn-orange-l:hover {
    text-shadow: 1px 1px 0 black; }

.btn-orange, .btn-orange-l {
  background-color: #d2641f;
  display: inline-block;
  color: #fff;
  background: -webkit-linear-gradient(#f98b0e, #ec5500) left repeat;
  background: linear-gradient(#f98b0e, #ec5500) left repeat; }
  .btn-orange:visited, .btn-orange-l:visited {
    color: #fff; }
  .btn-orange:hover, .btn-orange-l:hover {
    color: #fff;
    background: -webkit-linear-gradient(#ec5500, #ec5500) left repeat;
    background: linear-gradient(#ec5500, #ec5500) left repeat; }

.btn-orange-l {
  display: block;
  font-size: 1.625em;
  padding: 0.6153846154em 0.3076923077em;
  -webkit-box-shadow: 0 0 1px 0 #000;
  box-shadow: 0 0 1px 0 #000;
  text-align: center; }
  @media (min-width: 40em) {
    .btn-orange-l {
      display: inline-block; } }

.cta-banner-dark {
  border: 2px solid #fff;
  border: 2px solid rgba(255, 255, 255, 0.15);
  overflow: hidden;
  color: #fff;
  padding: 1em 1.5em;
  position: relative; }

.cta-banner-light {
  border: 2px solid #000;
  border: 2px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
  color: #000;
  padding: 1em 1.5em;
  position: relative; }

.cta-banner-header {
  margin-top: 0;
  margin-bottom: 0.2em; }

@media (min-width: 40em) {
  .cta-banner-body {
    margin-bottom: 0; } }

.cta-banner-btn {
  display: block;
  position: relative;
  text-align: center; }
  @media (min-width: 40em) {
    .cta-banner-btn {
      margin-top: 1.15em; } }

/*
.cta-banner-btn {
	display:block;
	position:relative;
	a {
		display:block;
		text-align:center;
		position:absolute;
		right:0;
		left:0;
		top:50%;
	}
}
*/
/*=============== Slide in CTA ===============*/
#last {
  margin: 0; }

#slidebox {
  padding: 10px 10px 10px 16px;
  position: fixed;
  bottom: 0;
  right: -430px;
  z-index: 1000; }

a.close {
  background-color: white;
  color: #477DCA;
  text-align: center;
  float: left;
  padding: 0 0.5em;
  font-size: 0.6875em;
  border-radius: 3px;
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em;
  line-height: 1.75em; }

a.close:hover {
  background-color: rgba(255, 255, 255, 0.75); }

@media only screen and (max-device-width: 480px) {
  #slidebox {
    width: 100%; }
 }

/*=============== Footer ===============*/
.footerlinks a {
  color: #777777;
  font-size: 0.875em; }
  .footerlinks a:visited {
    color: #777777; }
  .footerlinks a:hover {
    color: #fff; }
.footerlinks ul {
  margin-bottom: 1em; }
@media (max-width: 40em) {
  .footerlinks > *:nth-child(2n) {
    margin-right: 0; }
  .footerlinks > *:nth-child(2n+1) {
    clear: left; }
 }

.footerlinks-head {
  font-size: 1.3125em; }
  .footerlinks-head a {
    color: #fff; }
    .footerlinks-head a:visited {
      color: #fff; }
    .footerlinks-head a:hover {
      color: #777777; }

.footerlinks-col-1 {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 47.5854210427%; }
  .footerlinks-col-1:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .footerlinks-col-1 {
      float: left;
      display: block;
      margin-right: 1.877269384%;
      width: 18.4981844928%; }
      .footerlinks-col-1:last-child {
        margin-right: 0; } }

.footerlinks-col-2 {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 47.5854210427%; }
  .footerlinks-col-2:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .footerlinks-col-2 {
      float: left;
      display: block;
      margin-right: 1.877269384%;
      width: 18.4981844928%; }
      .footerlinks-col-2:last-child {
        margin-right: 0; } }

.footerlinks-col-3 {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 47.5854210427%; }
  .footerlinks-col-3:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .footerlinks-col-3 {
      float: left;
      display: block;
      margin-right: 1.877269384%;
      width: 18.4981844928%; }
      .footerlinks-col-3:last-child {
        margin-right: 0; } }

.footerlinks-col-4 {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 47.5854210427%; }
  .footerlinks-col-4:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .footerlinks-col-4 {
      float: left;
      display: block;
      margin-right: 1.877269384%;
      width: 18.4981844928%;
      margin-right: 0; }
      .footerlinks-col-4:last-child {
        margin-right: 0; } }

.footerlinks-col-5 {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 100%;
  text-align: center; }
  .footerlinks-col-5:last-child {
    margin-right: 0; }
  .footerlinks-col-5 .social-wrap {
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em !important;
    width: 75%; }
    .footerlinks-col-5 .social-wrap img {
      display: block; }
  @media (min-width: 40em) {
    .footerlinks-col-5 {
      float: left;
      display: block;
      margin-right: 1.877269384%;
      width: 18.4981844928%;
      margin-right: 0;
      text-align: right; }
      .footerlinks-col-5:last-child {
        margin-right: 0; }
      .footerlinks-col-5 .social-wrap {
        margin-bottom: 1em;
        font-size: 1.2em !important;
        width: 100%; }
        .footerlinks-col-5 .social-wrap img {
          float: right;
          display: block; } }

.site-footer {
  text-align: center; }
  .site-footer .inner-wrap {
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
  .site-footer p {
    color: #beb2ad;
    font-size: 0.875em;
    margin-bottom: 12px; }
  .site-footer a {
    color: #beb2ad; }
    .site-footer a:visited {
      color: #beb2ad; }
    .site-footer a:hover {
      color: #fff; }
  @media (min-width: 60em) {
    .site-footer {
      text-align: left; } }

.footer-nav {
  margin-bottom: 0.75em; }
  .footer-nav ul {
    padding: 0;
    margin: 0; }
  .footer-nav li {
    display: inline-block;
    margin-right: 0.5em; }
  .footer-nav a {
    font-size: 0.875em;
    font-weight: 600; }

/*=============== Site Content ===============*/
.site-content {
  background-color: #fff;
  background-image: url(img/bg-gradient-dest.jpg);
  background-repeat: repeat-x;
  border-top: 1px solid #333; }

.site-content-primary > *:first-child {
  margin-top: 0; }
.site-content-primary li {
  list-style-type: disc;
  margin-left: 20px; }

.site-content-secondary {
  margin-top: 1.5em; }
  @media (min-width: 60em) {
    .site-content-secondary {
      margin-top: 0;
      float: right !important; } }

.cta-aside {
  text-align: center; }
  .cta-aside .hs-cta-wrapper {
    display: block;
    margin-bottom: 1em; }

/*=============== Tables ===============*/
.table {
  display: block;
  width: 100%;
  margin-bottom: 2em;
  background-image: url(img/bg-gradient-topleft.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  border-radius: 10px; }

.thead {
  display: block; }

.table-row {
  display: block;
  width: 100%; }

.cell {
  display: block;
  padding: 0.5em 0.8em;
  vertical-align: top; }
  .cell p {
    margin: 0.5em 0; }
  .cell > ul {
    margin: 0.5em 0; }
    .cell > ul > li {
      margin-bottom: 0 !important; }
      .cell > ul > li ul {
        padding: 0 0 0 1.8em; }
  .cell input, .cell select {
    width: 100%; }

.col {
  display: table-column; }

.spec-col-1 {
  width: 100%;
  border-top: 1px solid #DDD; }

.spec-col-2 {
  width: 100%;
  border-top: 1px solid #DDD; }

@media (min-width: 40em) {
  .table {
    display: table; }

  .thead {
    display: table-header-group; }

  .table-row {
    display: table-row; }

  .cell {
    display: table-cell; }
    .cell p {
      font-size: 1em; }

  .spec-col-1 {
    width: 30%; }

  .spec-col-2 {
    width: 70%; }
 }

.spec-table-header {
  color: #fff;
  font-size: 1.3125em;
  padding: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0; }

/*=============== Product Intro ===============*/
.product-intro {
  margin-bottom: 1.5em; }
  .product-intro h2 {
    font-size: 1.5em; }

.product-intro-img {
  text-align: center; }
  @media (min-width: 40em) {
    .product-intro-img {
      float: left;
      padding-right: 1em;
      padding-bottom: 1em; } }
  @media (min-width: 60em) {
    .product-intro-img {
      padding: 0; } }

.product-intro-img-additional {
  display: inline-block;
  margin-top: 0.25em; }
  .product-intro-img-additional img {
    width: 5em;
    height: auto; }

.product-intro-info > * {
  margin-top: 0; }
@media (min-width: 60em) {
  .product-intro-info {
    clear: none !important; } }

.product-intro-additional {
  font-size: 1em; }
  .product-intro-additional ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .product-intro-additional li {
    margin: 0 0 0.75em 0;
    padding: 0; }
  @media (min-width: 40em) {
    .product-intro-additional {
      font-size: 0.75em; } }
  .product-intro-additional > * {
    margin-top: 0; }
  @media (min-width: 60em) {
    .product-intro-additional {
      font-size: 0.75em;
      float: right !important;
      clear: none; } }

@media (min-width: 40em) {
  .product-intro-additional-cta {
    display: block; } }

/*    MISC     */
ul li.page-item-1175 {
  display: none; }

/*===================== Destination sliders =============*/
.dest-carousel {
  padding: 0 3em;
  position: relative;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  margin: 2em 0; }
  .dest-carousel li {
    list-style-type: none; }

.dest-carousel .product-item {
  width: 100%;
  height: 10em;
  border: none; }

.dest-carousel .product-header {
  color: #000; }

.dest-carousel .slides li {
  border-right: solid 1px #ddd; }

.dest-carousel .product-item:last-child {
  border-right: none; }

.dest-carousel .flex-direction-nav .flex-prev {
  font-size: 0.5em;
  left: 0;
  display: block;
  text-indent: -999em;
  display: block;
  background-image: url(img/ico-arrowleft-l-dest.svg);
  background-position: left center;
  /*background-color:$blue; background-size:em(20) em(36);*/
  background-repeat: no-repeat;
  border-bottom: 0; }

.dest-carousel .flex-direction-nav .flex-next {
  font-size: 0.5em;
  right: 0;
  text-indent: -999em;
  display: block;
  background-image: url(img/ico-arrowright-l-dest.svg);
  background-position: center center;
  /*background-color:$blue; background-size:em(20) em(36);*/
  background-repeat: no-repeat;
  border-bottom: 0; }

/*=============== Additional Content ===============*/
.additional-content {
  clear: both; }

.product-intro-img a {
  margin-bottom: 5px; }

.product-intro-img a:nth-child(2n) {
  margin-right: 0; }

/*=============== Product Intro ===============*/
.lang-item-es, .lang-item-en {
  display: none !important; }

.page-id-883 .lang-item-es, .page-id-883 .lang-item-en, .page-id-1718 .lang-item-es, .page-id-1718 .lang-item-en, .page-id-978 .lang-item-es, .page-id-978 .lang-item-en, .page-id-1709 .lang-item-es, .page-id-1709 .lang-item-en, .page-id-941 .lang-item-es, .page-id-941 .lang-item-en, .page-id-1717 .lang-item-es, .page-id-1717 .lang-item-en, .page-id-858 .lang-item-es, .page-id-858 .lang-item-en, .page-id-1727 .lang-item-es, .page-id-1727 .lang-item-en, .page-id-878 .lang-item-es, .page-id-878 .lang-item-en, .page-id-1737 .lang-item-es, .page-id-1737 .lang-item-en, .page-id-814 .lang-item-es, .page-id-814 .lang-item-en, .page-id-1704 .lang-item-es, .page-id-1704 .lang-item-en, .page-id-1714 .lang-item-es, .page-id-1714 .lang-item-en, .page-id-972 .lang-item-es, .page-id-972 .lang-item-en, .page-id-915 .lang-item-es, .page-id-915 .lang-item-en, .page-id-1728 .lang-item-es, .page-id-1728 .lang-item-en {
  display: inline !important; }

.page-id-790 .site-content-primary img {
  height: 200px; }

.page-id-2240 .site-content-primary img {
  height: 226px; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@media (min-width: 40em) {
  .alignright {
    display: block;
    float: right;
    padding-bottom: 1.5em;
    padding-left: 1.5em; }

  .alignleft {
    display: block;
    float: left;
    padding-bottom: 1.5em;
    padding-right: 1.5em; }

  .aligncenter {
    display: block;
    margin: 0 auto; }
 }

.text-alignright {
  text-align: right; }

.text-alignleft {
  text-align: left; }

.text-aligncenter {
  text-align: center; }

.desktop {
  display: none; }
  @media screen and (min-width: 60em) {
    .desktop {
      display: block; } }

.desktop-text {
  display: none; }
  @media screen and (min-width: 60em) {
    .desktop-text {
      display: inline; } }

@media screen and (min-width: 40em) {
  .mobile {
    display: none; } }

.tablet {
  display: none; }
  @media screen and (min-width: 40em) {
    .tablet {
      display: block; } }

.tablet-text {
  display: none; }
  @media screen and (min-width: 40em) {
    .tablet-text {
      display: inline; } }

.bottom-baseline {
  margin-bottom: 2em; }

@media (max-width: 40em) {
  .bottom-baseline-mobile {
    margin-bottom: 1em; } }

@media (min-width: 40em) {
  .bottom-baseline-medium {
    margin-bottom: 2em; } }
@media (min-width: 60em) {
  .bottom-baseline-medium {
    margin-bottom: 0; } }

.nomargin-bottom {
  margin-bottom: 0; }

.nomargin-top {
  margin-top: 0; }

.nopadding-bottom {
  padding-bottom: 0; }

.nopadding-top {
  padding-top: 0; }

@media (min-width: 40em) {
  .br-medium-up {
    display: block; } }

@media (max-width: 40em) {
  .br-small-only {
    display: block; } }
@media (min-width: 40em) {
  .br-small-only {
    display: inline; } }

/*=== Vendors ===*/
/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  display: block;
  height: 100%;
  margin: -10px 0 0;
  position: absolute;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.flex-direction-nav .flex-prev {
  font-size: 0.5em;
  left: 0;
  display: block;
  text-indent: -999em;
  display: block;
  background-image: url(img/ico-arrowleft-l.svg);
  background-position: center center;
  /*background-color:$blue; background-size:em(20) em(36);*/
  background-repeat: no-repeat;
  border-bottom: 0; }

.flex-direction-nav .flex-next {
  font-size: 0.5em;
  right: 0;
  text-indent: -999em;
  display: block;
  background-image: url(img/ico-arrowright-l.svg);
  background-position: center center;
  /*background-color:$blue; background-size:em(20) em(36);*/
  background-repeat: no-repeat;
  border-bottom: 0; }

.no-svg .flex-direction-nav .flex-prev {
  background-image: url(img/ico-arrowleft-l.png); }
.no-svg .flex-direction-nav .flex-next {
  background-image: url(img/ico-arrowright-l.png); }

.flexslider:hover .flex-prev {
  opacity: 1; }

.flexslider:hover .flex-next {
  opacity: 1; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0.15 !important;
  filter: alpha(opacity=0);
  cursor: default; }

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: 0.7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    /*left: 10px;*/ }

  .flex-direction-nav .flex-next {
    opacity: 1;
    /*right: 10px;*/ }
 }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 17px solid white;
  margin-left: 31px; }

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 17px solid white;
  margin-left: 39px; }

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: white; }

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/*! Tablesaw - v0.1.2 - 2014-05-14
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2014 Filament Group; Licensed MIT */
table.tablesaw {
  empty-cells: show;
  max-width: 100%;
  width: 100%; }

.tablesaw {
  border-collapse: collapse;
  width: 100%; }

/* Structure */
.tablesaw {
  border: 0;
  padding: 0; }

.tablesaw th, .tablesaw td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 0.7em; }

.tablesaw thead tr:first-child th {
  padding-top: 0.9em;
  padding-bottom: 0.7em; }

/* Table rows have a gray bottom stroke by default */
.tablesaw-stack tbody tr {
  border-bottom: 1px solid #dfdfdf; }

.tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
  display: none; }

/* Mobile first styles: Begin with the stacked presentation at narrow widths */
@media only all {
  /* Show the table cells as a block level element */
  .tablesaw-stack td, .tablesaw-stack th {
    text-align: left;
    display: block; }

  .tablesaw-stack tr {
    clear: both;
    display: table-row; }

  /* Make the label elements a percentage width */
  .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    display: block;
    padding: 0 0.6em 0 0;
    min-width: 40%;
    display: inline-block; }

  /* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */
  .tablesaw-stack th .tablesaw-cell-label-top, .tablesaw-stack td .tablesaw-cell-label-top {
    display: block;
    padding: 0.4em 0;
    margin: 0.4em 0; }

  .tablesaw-cell-label {
    display: block; }

  /* Avoid double strokes when stacked */
  .tablesaw-stack tbody th.group {
    margin-top: -1px; }

  /* Avoid double strokes when stacked */
  .tablesaw-stack th.group b.tablesaw-cell-label {
    display: none !important; }
 }

@media (max-width: 39.9375em) {
  .tablesaw-stack thead td, .tablesaw-stack thead th {
    display: none; }

  .tablesaw-stack tbody td, .tablesaw-stack tbody th {
    clear: left;
    float: left;
    width: 100%; }
 }

/* Media query to show as a standard table at 560px (35em x 16px) or wider */
@media (min-width: 40em) {
  .tablesaw-stack tr {
    display: table-row; }

  /* Show the table header rows */
  .tablesaw-stack td, .tablesaw-stack th, .tablesaw-stack thead td, .tablesaw-stack thead th {
    display: table-cell;
    margin: 0; }

  /* Hide the labels in each cell */
  .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    display: none !important; }
 }

/*! {% include "hubspot/styles/responsive/required_base.css" %}*/
/*!

*/