/* @import url('http://example.com/example_style.css'); */


/*
@font-face{
    font-family:'Myriad-Pro';
    src: url("//cdn2.hubspot.net/hub/379517/file-697591492-ttf/Fonts/myriadpro-regular.ttf") format('truetype'),
    url("//cdn2.hubspot.net/hub/379517/file-697591487-eot/Fonts/myriadpro-regular.eot") format('eot'),
    url("//cdn2.hubspot.net/hub/379517/file-694180433-woff/Fonts/myriadpro-regular.woff") format('woff');
    font-weight:normal;
    font-style:normal;
}*/

@font-face{
    font-family:'Myriad-Pro-regular';
    src: url("http://cdn2.hubspot.net/hub/379517/file-709359737-ttf/Fonts/myriadpro-regular-webfont.ttf") format('truetype'),
    url("http://cdn2.hubspot.net/hub/379517/file-705362908-eot/Fonts/myriadpro-regular-webfont.eot") format('eot'),
    url("http://cdn2.hubspot.net/hub/379517/file-705362913-woff/Fonts/myriadpro-regular-webfont.woff") format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:'Icon';
    src: url("//cdn2.hubspot.net/hub/379517/file-697711782-ttf/Fonts/Icon.ttf") format('truetype'),
    url("//cdn2.hubspot.net/hub/379517/file-699022730-eot/Fonts/Icon.eot") format('eot'),
    url("//cdn2.hubspot.net/hub/379517/file-697711787-woff/Fonts/Icon.woff") format('woff');
    font-weight:normal;
    font-style:normal;
}


/**
 * CSS @imports must be at the top of the file.      
 * Add them above this section.                             
 */

/* ==========================================================================
   HS COS Boilerplate v1.2.1                                
   ========================================================================== */

/* This responsive framework is required for all styles. */
{% include "hubspot/styles/responsive/required_base.css" %}
{% include "custom/page/SigmaThermal-theme/SigmaThermal-modules.css" %}

/* These includes are optional, but helpful. */
{% include "hubspot/styles/patches/recommended.css" %} 



/* ==========================================================================
   Index:                                                

    - Variables
    - Macros
    - Base
    - Typography
    - Structure
    - Header
    - Custom Menu Primary
    - Mobile Menu
    - Content
    - Blog
    - Forms
    -    Buttons
    - Footer
    - Mobile
    - Custom Styles
 
   ========================================================================== */





/* ==========================================================================
   Variables                                               
   ========================================================================== */


/**
 * Find the most consistently used font styles, colors, and container widths 
 * for your site and assign them to the jinja variables below for easy use 
 * and reference. 
 *
 * Apply the variable as shown below.  Ignore the jingja comment tags.
 *
 * {#  property: {{ variableName }};  #}
 */
 
 
/* Colors */
{% set baseColor      = "#000000" %}    /* {# Dark Gray  |  Used on 'body' in 'Base'  |  Ex. "color: {{ baseColor }};" #} */
{% set linkColor      = "#477DCA" %}    /* {# Gray  |  Used on global anchors in 'Base'  |  Ex. "color: {{ linkColor }};" #} */
{% set linkHover      = "#D2641F" %}    /* {# Black  |  Used on global anchors in 'Base'  |  Ex. "color: {{ linkHover }};" #} */
{% set accentColor1   = "#666" %}    /* {# Medium Gray  |  Ex. "color: {{ accentColor1 }};" #} */
{% set accentColor2   = "#ccc" %}    /* {# Light Gray  |  Ex. "color: {{ accentColor2 }};" #} */
{% set accentColor3   = "#ddd" %}    /* {# Lightest Gray  |  Ex. "color: {{ accentColor3 }};" #} */

/* Typography */
{% set baseFontFamily    = "MyriadProRegular,'Myriad Pro','Segoe UI',Helvetica,Arial,sans-serif" %}            /* {# Used on 'body' in 'Base'  |  Ex. "font-family: {{ baseFontFamily }};" #} */
{% set baseFontSize      = "14px" %}                         /* {# Used on 'body' in 'Base'  |  Ex. "font-size: {{ baseFontSize }};" #} */
{% set baseLineHeight    = "21px" %}                          /* {# Used on 'body' in 'Base'  |  Ex. "line-height: {{ baseLineHeight }};" #} */
{% set webFont1          = "Helvetica, Arial, Sans-serif" %} /* {# Ex. "font-family: {{ webFont1 }};" #} */

/* Containers */
{% set maxWidth = "960px" %} /* Used on '.page-center' in 'Base' and in the 'Portrait tablet to landscape and desktop' media query */





/* ==========================================================================
   Macros                                                  
   ========================================================================== */


/** 
 * Create jinja macros for CSS3 properties that need browser prefixes.
 *
 * Apply the style as shown below.  Ignore the jinja comment tags. 
 *
 * {#  property: {{ variableName("values") }}  #}
*/

{% macro transition(value) -%} 
    -webkit-transition: {{ value }};
    -moz-transition: {{ value }};
    -o-transition: {{ value }};
    -ms-transition: {{ value }};
    transition: {{ value }};
{%- endmacro %} 

/** 
 * Example of how to apply the above macro (ignore the jinja comment tags):
 *
 * a {
 *    color: red;
 *    font-size: 12px;
 *    {#  {{ transition("all .2s linear") }}  #} 
 * }
 */





/* ==========================================================================
   Base                                                    
   ========================================================================== */


/** 
 * Box Sizing
 * 
 * Applies a natural box layout model to all elements so that width and padding 
 * are essentially combined, making responsive styles easier to manage.
 */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* Custom fonts */
/* ex. @font-face {}; */
/* all @import calls need to be done at the top on line 1 */

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
} 

/* Website background color and default font styles can go here */
body {
  /*background: #fff;
  color: {{ baseColor }};*/
  font-family: {{ baseFontFamily }};
  font-size: {{ baseFontSize }};
  line-height: {{ baseLineHeight }};
}

/**
 * Page Center
 *
 * Apply this class to full-width modules.
 */
.container-fluid .row-fluid .page-center {
  float: none;
  max-width: {{ maxWidth }};
  margin: 0 auto;
}

a { color: {{ linkColor }};
    text-decoration:none;

}
a:hover, a:focus { color: {{ linkHover }}; 
    text-decoration:underline;
}

/* Highlighted Text */
::-moz-selection {
    color: #fff;
    background: #3399FF;
    text-shadow: none;
}
::selection {
    color: #fff;
    background: #3399FF;
    text-shadow: none;
}





/* ==========================================================================
   Typography
   ========================================================================== */


/* Basic text */
p {} 
small {}
strong {}
em {}
cite {}
code {}
pre {}

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {}

h1 {
    font-size:50px;
    font-weight:400;
    font-style:normal;
    color:#000000;
    line-height:50px;
}
h2 {
    font-size:32px;
    font-weight:400;
    font-style:normal;
    color:#000000;
    line-height:30px;
}
h3 {
    font-size:21px;
    font-weight:400;
    font-style:normal;
    color:#000000;
    line-height:22.5px;
}
h4 {
    font-size:16px;
    font-weight:400;
    font-style:normal;
    color:#000000;
    line-height:20px;
}
h5 {
    font-size:14px;
    font-weight:700;
    font-style:normal;
    color:#000000;
    line-height:17.5px;
}
h6 {
    font-size:12px;
    font-weight:400;
    font-style:italic;
    color:#333333;
    line-height:18px;
}

/* Lists */
.body-container-wrapper .hs_cos_wrapper_type_rich_text ul, ol {
    padding-left:25px;
}
ul ul, ul ol, ol ol, ol ul {}

li {}

ul.unstyled, ol.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.inline, ol.inline {}
ul.inline > li, ol.inline > li {}

/* Quotes */
blockquote {}
blockquote p {}
blockquote small {}
blockquote small:before {}

q:before, q:after, blockquote:before, blockquote:after {}





/* ==========================================================================
   Structure                                               
   ========================================================================== */


/* The outer wrappers of your website */
.header-container-wrapper, 
.body-container-wrapper, 
.footer-container-wrapper {}

/* The inner wrappers of your website */
.header-container .page-center{}
.body-container .page-center{
    padding:25px 0 50px;
}
.footer-container .page-center{}





/* ==========================================================================
   Header
   ========================================================================== */


.header-container-wrapper {}
.header-container {
    background:url(http://cdn2.hubspot.net/hub/379517/file-698857420-jpg/Images/sig-bg-13.jpg) no-repeat center top #310006 ;
    min-height:219px !important;
}


/* Logo styling */
.header-container .hs_cos_wrapper_type_logo {}
.header-container .hs_cos_wrapper_type_logo a {}
.header-container .hs_cos_wrapper_type_logo a img {}


.custom_menu_bg{
    background:url(http://cdn2.hubspot.net/hub/379517/file-706945820-png/Images/bg-screen-000-70.png) repeat ;
    border-bottom: 1px solid #686868;
    border-top: 1px solid #686868;
}

.custom_logo{}

.custom_logo img {
    margin-left: -30px;
    padding: 26px 0 22px;
}

.custom_language ul{
    float: right;
    font-size: 14px;
    margin: 0;
    padding: 44px 13px 0;
}

.custom_language ul li {}

.custom_language ul li a{
    font-size:14px;
    color:#D2641F;
    text-decoration:none;
    line-height:21px;
}
.custom_language ul li a:hover{
    color: #000000;
}

.custom_language ul li a[href*="http://www.sigmathermal.com/waste-heat-recovery"]{
    color:#ffffff;
}





/* ==========================================================================
   Custom Menu Primary
   ========================================================================== */


 {% set ulColor       = "" %} /* Set ul background color */
 {% set liColor       = "" %} /*  Set li background Color */
 {% set aColor        = "#CCCCCC" %} /*  Set link Color */
 {% set aColorHover   = "#FFFFFF;" %} /*  Set link Hover Color */


  /* Parent List */
  .custom-menu-primary .hs-menu-wrapper > ul{ 
      background:{{ ulColor }};
      display: block !important;
  }
  .custom-menu-primary .hs-menu-wrapper > ul > li{
      background:{{ liColor }};
      
  }
  .custom-menu-primary .hs-menu-wrapper > ul > li > a{
    color:{{ aColor }};
    font-size:13px;
    text-decoration:none;
    font-weight:400;
    line-height:19px;
    padding:21px 10px 18px;
    border-left:1px solid #686868;
    min-width: 111px;
    min-height: 77px;
    }
  .custom-menu-primary .hs-menu-wrapper > ul > li > a:hover{
    color:{{ aColorHover }};
    background-color: rgba(0, 0, 0, 0.31);
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li:last-child a {
        min-width: 70px;
    }
  
  .custom-menu-primary .hs-menu-wrapper > ul > li > a span {
        display: block;
    }

  /* Child List */
  .custom-menu-primary .hs-menu-wrapper > ul ul{}
  .custom-menu-primary .hs-menu-wrapper > ul ul li{
      background:{{ liColor }};
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul li a{
    color:{{ aColor }};
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul li a:hover{
    color:{{ aColorHover }};
  }

  /* Override max width on menu links */
  .custom-menu-primary .hs-menu-wrapper > ul li a, 
  .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a{
    overflow: visible !important;
    max-width: none !important;
    width: auto!important;
  }




/* ==========================================================================
   Mobile Menu - Hubspot Standard Toggle Menu
   ========================================================================== */


/**
 * Special Note
 *
 * When the menu is open, a class of .mobile-open is applied to the body. You can 
 * use this for custom styling on any element when the menu is in the open position.                     
 */

  .mobile-trigger, .child-trigger{
      display: none; /* Hide button on Desktop */
  }

@media (max-width: 767px){

  /* Variables
     ========================================================================== */

 {% set menuColorMobile = "#341300" %}   /* Set Mobile Menu Background Color */
 {% set aColorMobile = "#CCCCCC" %}      /* Set Link Color */
 {% set aColorHoverMobile = "#ffffff" %} /* Set Link Hover Color */


  /* Menu Reset - Remove styling from desktop version of custom-menu-primary */
  /* Place any additional CSS you want removed from the mobile menu in this reset */
  .custom-menu-primary,
  .custom-menu-primary .hs-menu-wrapper > ul,
  .custom-menu-primary .hs-menu-wrapper > ul li,
  .custom-menu-primary .hs-menu-wrapper > ul li a{
    display: block;
    float: none;
    position: static;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-color: transparent;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none; 
    max-width: none;
    width: 100%;
    height: auto;
    line-height: 1;  
    font-weight: normal;
    text-decoration: none;
    text-indent: 0px;
    text-align: left;
    color:{{aColorMobile}};
    }


  /* Toggle Button
     ========================================================================== */

  .mobile-trigger{
      display: inline-block !important; /* Hide button on Desktop */
      cursor: pointer; /* Mouse pointer type on hover */
      position: absolute; /*******************************************/
      top: 0px;          /* Position Button at top right of screen  */
      right: 10px;        /*******************************************/
      width: auto; /* Button width */
      height: auto; /* Button height */      
      padding: 12px 10px;
      background:{{ menuColorMobile }}; /* Background color */
      z-index: 99999999999; /* Z-index to keep button on top of other layers */
      -webkit-transition: background-color 0.2s linear; /* Button color transition effect */
      font-size: 16px;
      font-weight: normal;
      text-align: left;
      text-transform: uppercase;
      -webkit-border-bottom-right-radius: 6px;
      -webkit-border-bottom-left-radius: 6px;
      -moz-border-radius-bottomright: 6px;
      -moz-border-radius-bottomleft: 6px;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      -webkit-transition:color .2s ease-in; 
      -moz-transition:color .2s ease-in;
      transition:color .2s ease-in;
  }

  .mobile-trigger:hover{
      text-decoration: none; /* Removes link text underline on button */
      color:{{ aColorHoverMobile }};
  }

  .mobile-trigger span{
      display: inline;
  }

  .mobile-trigger span:before{
      position: absolute;
      content: 'Menu'; /* Change the text on the closed toggle button */
  }

  .mobile-trigger span:after{
      position: relative;
      right: 0px;
      content: 'Close'; /* Change the text on the open toggle button */
      background-color: {{ menuColorMobile }};
      opacity: 0;
      transition: opacity .4s ease-in-out;
      -moz-transition: opacity .4s ease-in-out;
      -webkit-transition: opacity .4s ease-in-out; 
  }

  /* Change button when menu is open */
  .mobile-open .mobile-trigger{
      -webkit-transition:background-color 0.2s linear; /* Button color transition effect */
      -moz-transition:background-color 0.2s linear; /* Button color transition effect */
      transition:background-color 0.2s linear; /* Button color transition effect */
      background: transparent; /* Changes button background to be slightly darker than open menu color */  
  }

  .mobile-open .mobile-trigger span:after{
     opacity: 1; 
  }


  /* Toggle Button Icon & Animations
     ========================================================================== */

  .mobile-trigger i{
      display: inline;
      position: relative;
      top: -5px;
      margin-left: 5px;
      -webkit-transition-duration: 0s;
      -webkit-transition-delay: .2s;
      -moz-transition-duration: 0s;
      -moz-transition-delay: .2s;
      transition-duration: 0s;
      transition-delay: .2s;
  }
  .mobile-trigger i:before, .mobile-trigger i:after{
      position: absolute;
      content: '';
  }
  .mobile-trigger i, .mobile-trigger i:before, .mobile-trigger i:after{
      width: 15px; /* Icon line width */
      height: 2px; /* Icon line height */
      background-color: {{ aColorMobile }}; /* Icon color */
      display: inline-block;
  }
  .mobile-trigger i:before{
      margin-top: -6px; /* Position top line */
      -webkit-transition-property: margin, -webkit-transform;
      -webkit-transition-duration: .2s;
      -webkit-transition-delay: .2s, 0;
  }
  .mobile-trigger i:after{
      margin-top: 6px; /* Position bottom line */
      -webkit-transition-property: margin, -webkit-transform;
      -webkit-transition-duration: .2s;
      -webkit-transition-delay: .2s, 0;
  }
  .mobile-open .mobile-trigger i{
      background-color: rgba(0,0,0,0.0);
      -webkit-transition-delay: .2s;
  }
  .mobile-open .mobile-trigger i:before{
      margin-top: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition-delay: 0, .2s;
  }
  .mobile-open .mobile-trigger i:after{
      margin-top: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition-delay: 0, .2s;
  }

  /* Child Toggle Button
     ========================================================================== */

  .child-trigger{
      display: block !important; /* Hide button on Desktop */
      cursor: pointer; /* Mouse pointer type on hover */
      position: absolute;
      top: 0px;
      right: 0px;
      width: 55px !important; /* Button width */
      min-width: 55px !important;
      height: 45px !important; /* Button height */  
      padding: 0 !important;
      border-left: 1px dotted rgba(255, 255, 255, .20);
  }
  .child-trigger:hover{
      text-decoration: none;
  }


  /* Child Toggle Button Icon & Animations
     ========================================================================== */

  .child-trigger span{
      position: relative;
      top: 50%; /* Centers icon inside button */
      margin: 0 auto !important;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
      transition-duration: .2s;
  }
  .child-trigger span:after{
      position: absolute;
      content: '';
  }
  .child-trigger span, .child-trigger span:after{
      width: 10px; /* Icon line width */
      height: 1px; /* Icon line height */
      background-color:{{ aColorMobile }}; /* Icon color */
      display: block;
  }
  .child-trigger span:after{
      -webkit-transform: rotate(-90deg);
       -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
       -webkit-transition-duration: .2s;
       -moz-transition-duration: .2s;
      transition-duration: .2s;
  }
  .child-trigger.child-open span:after{
      -webkit-transform: rotate(-180deg);
       -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
       -webkit-transition-duration: .2s;
       -moz-transition-duration: .2s;
      transition-duration: .2s;
  }
  .child-trigger.child-open span{
      -webkit-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
      transform: rotate(180deg);
       -webkit-transition-duration: .2s;
       -moz-transition-duration: .2s;
      transition-duration: .2s;
  }

    
  /* Menu Styles on Mobile Devices
     ========================================================================== */  


  /* Hide menu on mobile */
  .custom-menu-primary.js-enabled .hs-menu-wrapper,
  .custom-menu-primary.js-enabled .hs-menu-children-wrapper{
      display: none;
  }  

  /* Make child lists appear below parent items */
  .custom-menu-primary ul.hs-menu-children-wrapper{
      visibility: visible !important;
      opacity: 1 !important;
      position: static !important;
      display: none;
  }

  /* Mobile Menu Styles */
  .custom-menu-primary.js-enabled .hs-menu-wrapper{
      position: absolute; /**************************************************************/
      top: 0;             /* Positions the menu to drop from the very top of the screen */
      left: 0px;          /**************************************************************/                                              
      width: 100%;   
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.65);
      -moz-box-shadow:    0px 5px 5px 0px rgba(0, 0, 0, 0.65);
      box-shadow:         0px 5px 5px 0px rgba(0, 0, 0, 0.65); 
  }
  .custom-menu-primary .hs-menu-wrapper{
      padding: 40px 0 0 0; /* Padding to add room for close button */
      background-color:{{ menuColorMobile }}; /* Menu background color set off global mobile-menuColor variable */
      width: 100%; /* Full screen width */
      z-index: 8888;
  }

   /* Level 1 Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul > li{
      position: relative;
   }
  .custom-menu-primary .hs-menu-wrapper > ul > li a{
      font-size: 22px; /* Font size of top level list items */
      line-height: 45px;
      overflow: visible;
  }

  /* Level 1 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul li{
      border-top: 1px dotted rgba(255, 255, 255, .35); /* Adds transparent dark highlights to top of top level list items */
  }
  .custom-menu-primary .hs-menu-wrapper >  ul li a{
      padding: 0 10px;
      color:{{ aColorMobile }}; /* link color set by global mobile-aColor variable */
  }
  .custom-menu-primary .hs-menu-wrapper > ul li a:hover{
      color:{{ aColorHoverMobile }}; /* link hover color set by global mobile-aColorHover variable */
  }

  /* Level 2 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul li{
     background-color: rgba(255, 255, 255, .08);
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul li a{
      text-indent: 10px; /* Indent Child lists */
      font-size: 16px; /* Font size of child lists */
  }

  /* Level 3 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul ul li a{
      text-indent: 30px; /* Indent Child lists */
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul ul ul li a{
      text-indent: 50px; /* Indent Child lists */
  }
}




/* ==========================================================================
   Content                                                 
   ========================================================================== */


.body-container-wrapper {}
.body-container {
    background:url(http://cdn2.hubspot.net/hub/379517/file-698852405-jpg/Images/bg-gradient-1.jpg) repeat-x top #ffffff;
}





/* ==========================================================================
   Blog                                               
   ========================================================================== */


/* Blog Post */
body.hs-blog-post {}

/* Blog Listing */
body.hs-blog-listing {}


/* Blog Content Column
   ========================================================================== */

.blog-content-column {}

/* Use this to style the main wrapper for the blog listing pages */
.blog-listing-wrapper {}

/* Use this to style the main wrapper for the blog post pages */
.blog-post-wrapper {}

/* Blog Title */
.hs-blog-header h1 a{}

/* Blog Post Title */
.post-header h2 a {}
.post-header h2 a:hover {
    text-decoration:none;
}

/* Blog Author and Avatar */
#hubspot-author_data {}
#hubspot-author_data a.author-link {}
.hs-author-avatar {}
.hs-author-avatar img {}

/* Use this to set up different styling for your blog posts */
.blog-listing-wrapper .post-listing .post-item {}
.blog-listing-wrapper .post-listing .post-item .post-body {}
.blog-post-wrapper .post-body {}

/* Post Featured Image on Listings Page */
.hs-featured-image-wrapper {}
.hs-featured-image-wrapper .hs-featured-image-link {}
.hs-featured-image-wrapper .hs-featured-image-link img.hs-featured-image{
    border-width: 0;
    max-height: 170px;
    max-width: 210px;
    height: auto;
    width: auto;
    display: inline-block !important;
    float: right;
    margin: 20px 0 20px 20px;
}

/* Read More Link */
a.more-link {
    display:inline-block;
    padding:15px 0;
}

/* Blog Topics List */
#hubspot-topic_data {}
#hubspot-topic_data a.topic-link {}

/** 
 * Blog Social Sharing icons
 *
 * Overrides defaults to better align icons and prevent overlapping 
 */

.hs-blog-social-share {
  padding: 10px 0 29px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

/** 
 * Blog Commments 
 *
 * Custom styles are listed below, as the COS does not provide default styles.
 */

#comments-listing {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    margin-top: 30px;
}
.comment {
    margin: 10px 0;
    border-top: 1px solid #ccc;
    padding: 15px 0;
}
.comment-date { font-size: 13px; text-align: right; }
.comment-from { font-weight: bold; }
.comment-body { padding: 10px 0; }

/* Pagination */
.blog-pagination {}
.blog-pagination .previous-posts-link {}
.blog-pagination .all-posts-link {}
.blog-pagination .next-posts-link {}



/* Blog Sidebar
   ========================================================================== */

.blog-sidebar h3 {
    font-size:18px;
    font-weight:400;
    font-style:normal;
    color:#000000;
    line-height:22.5px;
}

.blog-sidebar ul {
    padding:0 15px;
}

.post-item{
    padding:15px 0;
    margin:15px 0;
    border-bottom:1px solid #dfdfdf;
}


.post-item {}

.inputs-list{
    list-style:none;
    padding:0 !important;
}

/* Blog Modules */
.blog-sidebar .widget-span {}




/* ==========================================================================
   Forms
   ========================================================================== */


/* All Global Forms
   ========================================================================== */

/* Form Field */
body .hs-form-field {}

/* Descriptions */
body .hs-field-desc {}

.hs-form-required{
    color:#ff0000;
}

/* Labels */
body label {}
body .hs-form-field > label {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px;
    font-weight:700;
    color:#404040;
    line-height:20px;
}

/* One Line Inputs */
body input[type="text"],
body input[type="password"], 
body input[type="datetime"], 
body input[type="datetime-local"], 
body input[type="date"], 
body input[type="month"], 
body input[type="time"], 
body input[type="week"], 
body input[type="number"], 
body input[type="email"], 
body input[type="url"], 
body input[type="search"], 
body input[type="tel"], 
body input[type="color"],
body input[type="file"],
body textarea,
body select {
  width: 100%;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px;
    font-weight:400;
    font-style:normal;
    color:#666666;
    line-height:18px;
     padding: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin:5px 0 10px;
}
.hs-form .hs-input{
    height: 2.3em !important;
}

body input[type="text"]:focus,
body input[type="password"]:focus, 
body input[type="datetime"]:focus, 
body input[type="datetime-local"]:focus, 
body input[type="date"]:focus, 
body input[type="month"]:focus, 
body input[type="time"]:focus, 
body input[type="week"]:focus, 
body input[type="number"]:focus, 
body input[type="email"]:focus, 
body input[type="url"]:focus, 
body input[type="search"]:focus, 
body input[type="tel"]:focus, 
body input[type="color"]:focus,
body input[type="file"]:focus,
body textarea:focus,
body select:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

/* Separate Styles for Multiple Line Inputs */
body textarea {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px;
    font-weight:400;
    font-style:normal;
    color:#666666;
    line-height:18px;
     padding: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}
body textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

/* Separate Styles for Drop Downs */
body select {}
body select:focus {}

/* Multiple Selection Inputs */
body form.hs-form .hs-form-field ul.inputs-list li input {}
body input[type="radio"] {}
body input[type="checkbox"] {}

/* Required */
body input:focus:required:invalid, 
body textarea:focus:required:invalid, 
body select:focus:required:invalid {}

body input:focus:required:invalid:focus, 
body textarea:focus:required:invalid:focus, 
body select:focus:required:invalid:focus {}

/* Placeholder Text */
::-webkit-input-placeholder { /* Webkit Browsers */
   /* color: #555;
   opacity: 1; */
}

:-moz-placeholder { /* Firefox 18- */
   /* color: #555;
   opacity: 1; */
}
::-moz-placeholder { /* Firefox 19+ */
   /* color: #555;
   opacity: 1; */
}
:-ms-input-placeholder { /* IE10 */
   /* color: #555;
   opacity: 1; */
}


/* Form Module
   ========================================================================== */

/* Form Field */
.hs_cos_wrapper_type_form .hs-form-field {}

/* Descriptions */
.hs_cos_wrapper_type_form .hs-field-desc {}

/* Labels */
.hs_cos_wrapper_type_form label {}
.hs_cos_wrapper_type_form .hs-form-field > label {}

/* One Line Inputs */
.hs_cos_wrapper_type_form input[type="text"],
.hs_cos_wrapper_type_form input[type="password"], 
.hs_cos_wrapper_type_form input[type="datetime"], 
.hs_cos_wrapper_type_form input[type="datetime-local"], 
.hs_cos_wrapper_type_form input[type="date"], 
.hs_cos_wrapper_type_form input[type="month"], 
.hs_cos_wrapper_type_form input[type="time"], 
.hs_cos_wrapper_type_form input[type="week"], 
.hs_cos_wrapper_type_form input[type="number"], 
.hs_cos_wrapper_type_form input[type="email"], 
.hs_cos_wrapper_type_form input[type="url"], 
.hs_cos_wrapper_type_form input[type="search"], 
.hs_cos_wrapper_type_form input[type="tel"], 
.hs_cos_wrapper_type_form input[type="color"],
.hs_cos_wrapper_type_form input[type="file"],
.hs_cos_wrapper_type_form textarea,
.hs_cos_wrapper_type_form select {}

.hs_cos_wrapper_type_form input[type="text"]:focus,
.hs_cos_wrapper_type_form input[type="password"]:focus, 
.hs_cos_wrapper_type_form input[type="datetime"]:focus, 
.hs_cos_wrapper_type_form input[type="datetime-local"]:focus, 
.hs_cos_wrapper_type_form input[type="date"]:focus, 
.hs_cos_wrapper_type_form input[type="month"]:focus, 
.hs_cos_wrapper_type_form input[type="time"]:focus, 
.hs_cos_wrapper_type_form input[type="week"]:focus, 
.hs_cos_wrapper_type_form input[type="number"]:focus, 
.hs_cos_wrapper_type_form input[type="email"]:focus, 
.hs_cos_wrapper_type_form input[type="url"]:focus, 
.hs_cos_wrapper_type_form input[type="search"]:focus, 
.hs_cos_wrapper_type_form input[type="tel"]:focus, 
.hs_cos_wrapper_type_form input[type="color"]:focus,
.hs_cos_wrapper_type_form input[type="file"]:focus,
.hs_cos_wrapper_type_form textarea:focus,
.hs_cos_wrapper_type_form select:focus {}

/* Separate Styles for Multiple Line Inputs */
.hs_cos_wrapper_type_form textarea {}
.hs_cos_wrapper_type_form textarea:focus {}

/* Separate Styles for Drop Downs */
.hs_cos_wrapper_type_form select {}
.hs_cos_wrapper_type_form select:focus {}

/* Multiple Selection Inputs */
.hs_cos_wrapper_type_form form.hs-form .hs-form-field ul.inputs-list li input {}
.hs_cos_wrapper_type_form input[type="radio"] {
  width: 10% !important;
}
.hs_cos_wrapper_type_form input[type="checkbox"] {}


/* Blog Comment Form
   ========================================================================== */

/* Label */
#comment-form .hs-form-field > label {}
#comment-form label {}

/* Inputs */
#comment-form input[type="text"] {}
#comment-form input[type="text"]:focus {}

#comment-form textarea {}
#comment-form textarea:focus {}

#comment-form input[type="checkbox"] {}

/* Error */
body .hs-common-error-message {}


/* Blog Subscription Form
   ========================================================================== */

/* Label */
#hs_form_target_blog_subscription .hs-form-field > label {}
#hs_form_target_blog_subscription label {}

/* Inputs */
#hs_form_target_blog_subscription input[type="email"] {}
#hs_form_target_blog_subscription input[type="email"]:focus {}

#hs_form_target_blog_subscription input[type="radio"] {}


/* Google Search Form
   ========================================================================== */

/* Label */
.widget-type-google_search label {}

/* Input */
.widget-type-google_search input[type="text"] {
    display:block;
    width:auto;
}
.widget-type-google_search input[type="focus"] {}

#hs-pwd-widget-password {
    display:block;
    width:auto;
}


/* Multi Column Form
   ========================================================================== */

body .hs-form fieldset.form-columns-1 {}
body .hs-form fieldset.form-columns-1 .hs-form-field {}

body .hs-form fieldset.form-columns-2 {}
body .hs-form fieldset.form-columns-2 .hs-form-field {}

body .hs-form fieldset.form-columns-3 {}
body .hs-form fieldset.form-columns-3 .hs-form-field {}

/* Multiple Selection Inputs */
body form.hs-form .hs-form-field ul.inputs-list li input {}
body input[type="radio"] {}
body input[type="checkbox"] {}
body form.hs-form fieldset { max-width: none; }
body form.hs-form fieldset .hs-form-field { padding: 0 10px 0 0; }
body form.hs-form fieldset[class*="form-columns"] .input { margin-right: 0; }
body form.hs-form fieldset[class*="form-columns"] .hs-input { width: 100%; }
body form.hs-form fieldset.form-columns-3 .hs-form-field { width: 33.33%; }

@media (max-width: 400px) {

  body form.hs-form fieldset .hs-form-field { 
    padding: 0; 
  }
  body form.hs-form fieldset.form-columns-3 .hs-form-field,
  body form.hs-form .form-columns-2 .hs-form-field .hs-input, 
  body form.hs-form .form-columns-3 .hs-form-field .hs-input {
    width: 100%;
  }

}




/* ==========================================================================
   Buttons                                              
   ========================================================================== */


/* All Global Buttons (Excluding CTAs)
   ========================================================================== */

body .hs-button.primary,
body input[type="submit"],
body input[type="button"] {
  cursor: pointer;
  font-family:Helvetica,Arial,sans-serif;
    font-size:12px;
    font-weight:700;
    font-style:normal;
    color:#FFFFFF;
    line-height:15px;
    border-radius:4px;
    border-left:1px solid #468EE6;
    border-bottom:1px solid #1C4ED5;
    border-right:1px solid #468EE6;
    border-top:1px solid #64BAF0;
    padding: 7px 18px;
    transition: opacity 0.15s linear 0s;
    text-shadow: 0 -1px 0 #3574E3;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    background: linear-gradient(to bottom , #7EC8F4, #3574E3);
    display:inline-block;
    margin:15px 0;
    text-decoration:none;
}

body .hs-button.primary:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 0 5px #3574E3;
    border-top: 1px solid #4db0ee;
    border-bottom: 1px solid #1946be;
    border-right: 1px solid #3080e3;
    border-left: 1px solid #3080e3;
}

body .hs-button.primary:focus,
body input[type="submit"]:focus,
body input[type="button"]:focus {}


/* Form Module Button
   ========================================================================== */

.hs_cos_wrapper_type_form .hs-button.primary.large {}
.hs_cos_wrapper_type_form .hs-button.primary.large:hover {}
.hs_cos_wrapper_type_form .hs-button.primary.large:focus {}


/* Blog Comment Button
   ========================================================================== */
#add-comment-button.hs-button.primary {}
#add-comment-button.hs-button.primary:hover {}
#add-comment-button.hs-button.primary:focus {}


/* Blog Subscription Button
   ========================================================================== */
#hs_form_target_blog_subscription .hs-button.primary.large {}
#hs_form_target_blog_subscription .hs-button.primary.large:hover {}
#hs_form_target_blog_subscription .hs-button.primary.large:focus {}


/* Google Search Button
   ========================================================================== */
.widget-type-google_search .hs-button.primary {}
.widget-type-google_search .hs-button.primary:hover {}
.widget-type-google_search .hs-button.primary:focus {}


/* CTA Buttons
   ========================================================================== */

/** 
 * Override global CTA styles by wrapping the CTA module in a module group 
 * that has an ID, and use that ID to prefix your CTA selector. Example shown below.
 *
 * All overriding properties require !important tags. 
*/
#module-group-ID .cta_button {}
#module-group-ID .cta_button:hover {}
#module-group-ID .cta_button:focus {}





/* ==========================================================================
   Footer
   ========================================================================== */


.footer-container-wrapper {}
.footer-container {
    
}

.custom_top_footer_group{
    background:url(http://cdn2.hubspot.net/hub/379517/file-690076004-jpg/Images/bg-tile-dark-grain-3.jpg) repeat #151515;
    min-height:423px !important;
    padding:14px 0;
}

.custom_bottom_footer_group{
    background:url(http://cdn2.hubspot.net/hub/379517/file-707231850-jpg/Images/sig-bg-12.jpg) no-repeat center 75% #310006;
    min-height:250px !important;
    padding:20px 0 100px;
}

.custom_footer_links{
    padding-left: 10px;
    padding-bottom: 12px;
    }

.custom_footer_links h5{
    margin:0;
    padding:23px 0 14px;
}

.custom_footer_links h5 a {
    font-size:15.4px;
    font-weight:700;
    font-style:normal;
    color:#919191;
    text-decoration:none;
    line-height:19.25px;
    
}

.custom_footer_links h5 a:hover {
    color:#ffffff;
}

.custom_footer_links ul {
    list-style:none;
    padding:0;
    margin:0;
}

.custom_footer_links ul li {
    padding: 5px 0 6px;
    line-height:normal;
}

.custom_footer_links ul li a {
    font-size:14px;
    color:#666666;
    text-decoration:none;
    line-height:18.2px;
}

.custom_footer_links ul li a:hover {
    color:#ffffff;
}

.custom_footer_col1 {}

.custom_footer_col2{
    min-width: 130px;
    padding-left: 18px;
}

.custom_footer_col3{
    padding-left: 36px;
}

.custom_footer_col4{
    margin-left:0 !important;
}

.custom_footer_col5{
    padding-left:24px;
}

.custom_process{}

.custom_process h5 {
    padding: 18px 0 10px;
}

.custom_electric_heaters{}

.custom_electric_heaters h5 {
    padding: 18px 0 10px;
}

.custom_automation {
  padding-top: 10px;
}

.custom_automation h5 {
    padding: 10px 0 12px;
}

.custom_footer_menu{}

.custom_footer_menu ul {
    padding: 1px 0px 0 6px;
}

.custom_footer_menu ul li{}

.custom_footer_menu ul li a{
    font-size:14px;
    color: #D2641F;
    text-decoration:none;
    line-height:21px;;
    padding:0 10px 0 7px;
}

.custom_footer_menu ul li a:hover{
    color:#ffffff;
}

.custom_address p {
    font-size:14px;
    font-weight:400;
    color:#907575;
    line-height:21px;
    margin:0;
    padding: 16px 11px 0;
}

.custom_copyright p {
    font-size:14px;
    color:#907575;
    line-height:21px;
    margin:0;
    padding: 20px 11px 0;
}

.custom_copyright p a {
    font-size:14px;
    color:#907575;
    text-decoration:none;
    line-height:21px;
}

.custom_copyright p a:hover {
    color: #FFFFFF;
}

.custom_social_icon{
    padding: 22px 0 0 41px;
}

.custom_social_icon ul li {
    display:inline-block;
}

.custom_social_icon ul li a {
    color: #D2641F;
    font-size:19px; 
    padding:0 5px;
}

.custom_social_icon ul li a:hover {
    color:#ffffff;
}

.custom_social_icon ul li a  span {
    font-size:0px;
}

[data-icon]:before {
    content: attr(data-icon);
    font-family: 'Icon';
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}
[class*="icon-"] {
    font-family: 'Icon';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

    .icon-twitter:before {
        content: "";
    }
    .icon-facebook:before {
        content: "";
    }
    .icon-facebook-2:before {
        content: "";
    }
    .icon-google-plus-3:before {
        content: "";
    }
    .icon-linkedin:before {
        content: "";
    }
    .icon-wordpress:before {
    content: "";
    }
    .icon-wordpress-2:before {
        content: "";
    }
    
    .custom_iso p {
        text-align:right;
    }
    
    .custom_iso a {
        font-size:14px;
        color:#D2641F;
        text-decoration:none;
        line-height:21px;
        display: inline-block;
        padding:27px 0 0 43px;
    }
    
    .custom_iso a:hover {
        text-decoration:underline;
        color:#ffffff;
    }
    


/* ==========================================================================
   Mobile                                                 
   ========================================================================== */
     

/* Screen sizes smaller than site maxWidth (.page-center)
   ========================================================================== */

@media  (min-width: 768px) and (max-width: 1000px) {
    .custom-menu-primary .hs-menu-wrapper > ul > li > a{
        padding: 20px 5px 18px;
        min-width: 0;
    }
    .custom_logo img {
        margin-left: 0;
        padding: 26px 0 27px;
    }
    .body-container .page-center {
        padding: 0 20px;
    }
    .footer-container .page-center {
        padding: 0 20px;
    }
    .custom_footer_col2 {
        min-width: 0;
        padding-left: 0;
    }
    .custom_social_icon {
        padding: 22px 0 0;
    }
    .custom_iso a{
        padding: 33px 0 0;
    }
    .header-container .page-center {
        padding: 0 20px;
    }
    .custom_footer_col4 {
        padding-left: 24px;
    }
    .custom_footer_col5 {
        padding-left: 5px;
    }
}


/* Landscape tablet and smaller devices
   ========================================================================== */

@media (max-width: 767px) {
    .custom_logo {
        text-align: center;
         padding: 0 10px;
    }
    .custom_language ul {
        float: none !important;
        text-align: center;
        padding:0;
    }
    .header-container{
        min-height: 0px !important ;
    }
    .body-container .page-center {
        padding: 0 20px;
    }
    .custom_footer_links {
        padding-left: 20px;
        text-align: left;
    }
    .custom_footer_col3 {
         padding-left: 0;
    }
    .custom_footer_col2 {
        min-width: 0;
        padding-left: 0;
    }
    .custom_social_icon {
        padding: 0;
        text-align: left;
    }
    .custom_iso p {
        text-align: left;
    }
    .custom_footer_col5 {
        padding-left: 0;
    }
    .custom_iso a {
        padding: 0;
    }
    .custom_footer_menu {
        text-align: center;
    }
    .custom_address {
      text-align: center;
    }
    .custom_copyright {
        text-align: center;
    }
    .custom_logo img {
        margin-left: 0;
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li > a span {
        display: inline;
    }
    .custom_language ul li a{
        color: #000000;
    }
    .custom-menu-primary .hs-menu-wrapper > ul li a{
        padding: 5px 10px 0;
        min-height:0;
    }
    .custom_footer_menu ul li {
        display: inline-block;
        width: auto;
    }

}
     

/* Landscape phones and smaller devices
   ========================================================================== */

@media (max-width: 479px) {}





/* ==========================================================================
   Custom Styles
   ========================================================================== */

/**
 * The include below remains at the bottom of the stylesheet so that custom
 * styles will override base styles.
 *
 * The styles from the include below are custom and miscellaneous styles 
 * that do not pertain to any sections in CompanyStyle.css.
 */
 
 .hs-form .hs-input {
    height: auto !important;
}


.hs_cos_wrapper_type_form input[type="checkbox"] {
    width: 5% !important;
}

/* Brochure Page
   ========================================================================== */
   .brochure-row{
       overflow:hidden;
   }
   
   .brochure-row .brochure-bucket{
       width:100%;
       text-align:center;
       margin-bottom:20px;
   }
   
   @media (min-width: 430px) {
       .brochure-row .brochure-bucket{
           width:48%;
           float:left;
           margin-right:2%;
       }
   }   
   @media (min-width: 560px) {
       .brochure-row .brochure-bucket{
           width:23%;
           float:left;
           margin-right:2.66%;
       }
   }
   .brochure-row .brochure-bucket p{
       margin-top:15px;
   }
   
   .brochure-row .brochure-bucket:last-child{
       margin-right:0;
   }

{% include "custom/page/SigmaThermal-theme/SigmaThermal-custom.css" %}