</section> <!-- End Site Content -->



<section class="grain-module bordertop-gradient">
<div class="inner-wrap footerlinks">
<div class="footerlinks-col-1">
<h5 class="footerlinks-head"><a title="Thermal Fluid Systems" href="http://www.sigmathermal.com/thermal-fluid-systems">Thermal Fluid Systems</a></h5>
<ul>
<li><a title="Thermal Oil Heating Systems" href="http://www.sigmathermal.com/thermal-fluid-systems#thermal-oil-heating-systems">Thermal Oil Heating Systems</a></li>
<li><a title="Glycol Reboiler Heating Systems" href="http://www.sigmathermal.com/thermal-fluid-systems#water-glycol-heating-systems">Water-Glycol Heating Systems</a></li>
<li><a title="HC-2 Thermal Fluid Heaters" href="http://www.sigmathermal.com/thermal-fluid-systems#hc-2-thermal-fluid-heater">HC-2 Thermal Fluid Heater</a></li>
<li><a title="HC-1 Thermal Fluid Systems" href="http://www.sigmathermal.com/thermal-fluid-systems#hc-2-thermal-fluid-heater">HC-1 Thermal Fluid Heater</a></li>
<li><a title="Complete Thermal Fluid Heaters &amp; Systems" href="http://www.sigmathermal.com/thermal-fluid-systems#complete-thermal-fluid-systems">Complete Thermal Fluid Systems</a></li>
<li><a title="Custom Engineered Fired Heater Systems" href="http://www.sigmathermal.com/thermal-fluid-systems#custom-engineering">Custom Engineering</a></li>
<li><a title="Thermal Oil Economizers" href="http://www.sigmathermal.com/thermal-fluid-systems#economizers">Economizers</a></li>
</ul>
</div>
<div class="footerlinks-col-2">
<h5 class="footerlinks-head"><a title="Direct Fired Heaters" href="http://www.sigmathermal.com/direct-fired-heaters">Direct Fired Heaters</a></h5>
<ul>
<li><a title="Convection Heaters" href="http://www.sigmathermal.com/direct-fired-heaters#convection-heater">Convection Heater</a></li>
<li><a title="Radiant-Convection Heaters" href="http://www.sigmathermal.com/direct-fired-heaters#radiant-convective-heater">Radiant—Convective Heater</a></li>
</ul>
<h5 class="footerlinks-head"><a title="Process Bath Heater" href="http://www.sigmathermal.com/process-bath-heaters">Process Bath Heaters</a></h5>
<ul>
<li><a title="Water Bath Heater" href="http://www.sigmathermal.com/process-bath-heaters#water-bath-heater">Water Bath Heater</a></li>
<li><a title="Salt Bath Heaters" href="http://www.sigmathermal.com/process-bath-heaters#salt-bath-heater">Salt Bath Heater</a></li>
<li><a title="Weir Bath Heaters" href="http://www.sigmathermal.com/process-bath-heaters#weir-bath-heater">Weir Bath Heater</a></li>
</ul>
<h5 class="footerlinks-head"><a title="
                Electric Process Heaters" href="http://www.sigmathermal.com/electric-process-heaters">Electric Process Heaters</a></h5>
<ul>
<li><a title="Immersion Heater" href="http://www.sigmathermal.com/electric-process-heaters#immersion-heater">Immersion Heater</a></li>
<li><a title="Circulation Heater" href="http://www.sigmathermal.com/electric-process-heaters#circulation-heater">Circulation Heater</a></li>
</ul>
</div>
<div class="footerlinks-col-3">
<h5 class="footerlinks-head"><a title="Biomass-Fired Energy Systems" href="http://www.sigmathermal.com/biomass-energy-systems">Biomass Energy Systems</a></h5>
<ul>
<li><a title="Biomass Fired Combustion System" href="http://www.sigmathermal.com/biomass-energy-systems#biomass-fired-combustion-systems">Biomass Fired Combustion Systems</a></li>
<li><a title="Biomass Fired Combustion Systems" href="http://www.sigmathermal.com/biomass-energy-systems#biomass-fired-hot-gas-generators">Biomass Fired Hot Gas Generators</a></li>
<li><a title="Dust Collection &amp; Ash Handling Options" href="http://www.sigmathermal.com/biomass-energy-systems#dust-collection-and-ash-handling">Dust Collection and Ash Handling</a></li>
<li><a title="Fuel Handling System" href="http://www.sigmathermal.com/biomass-energy-systems#fuel-handling-systems">Fuel Handling Systems</a></li>
<li><a title="Biomass Equipment" href="http://www.sigmathermal.com/biomass-energy-systems#biomass-equipment">Biomass Equipment</a></li>
<li><a title="Biomass Fired Thermal Fluid Heaters" href="http://www.sigmathermal.com/biomass-energy-systems#biomass-fired-thermal-fluid-heaters">Biomass Fired Thermal Fluid Heaters</a></li>
<li><a title="Biomass Fixed Steam Boilers" href="http://www.sigmathermal.com/biomass-energy-systems#biomass-fired-steam-boilers">Biomass Fired Steam Boilers</a></li>
<li><a title="Biomass Control Systems" href="http://www.sigmathermal.com/biomass-energy-systems#biomass-control-systems">Biomass Control Systems</a></li>
</ul>
</div>
<div class="footerlinks-col-4 col-last">
<h5 class="footerlinks-head"><a title="Waste Heat Recovery" href="http://www.sigmathermal.com/waste-heat-recovery">Waste Heat Recovery</a></h5>
<ul>
<li><a title="Heat Energy Recovery Audio" href="http://www.sigmathermal.com/waste-heat-recovery#heat-energy-recovery-audits">Heat Energy Recovery Audits</a></li>
<li><a title="Complete Closed Loop  Systems" href="http://www.sigmathermal.com/waste-heat-recovery#complete-closed-loop-systems">Complete Closed Loop Systems</a></li>
<li><a title="Combustion Air Pre-Heat System" href="http://www.sigmathermal.com/waste-heat-recovery#combustion-air-pre-heat-system-caph">Combustion Air Pre-Heat System (CAPH)</a></li>
<li><a title="High Particulate Systems" href="http://www.sigmathermal.com/waste-heat-recovery#high-particulate-systems">High Particulate Systems</a></li>
</ul>
<h5 class="footerlinks-head"><a title="Automated burner management systems &amp; combustion controls" href="http://www.sigmathermal.com/automation">Automation</a></h5>
<h5 class="footerlinks-head"><a title="Fired Heater Services" href="http://www.sigmathermal.com/services">Services</a></h5>
<h5 class="footerlinks-head"><a title="Heating System Components &amp; Parts" href="http://www.sigmathermal.com/parts">Parts</a></h5>
</div>
<div class="footerlinks-col-5">
<div class="social-wrap"><a href="https://www.facebook.com/SigmaThermal" target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-facebook.svg" alt="Facebook" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-facebook.png"></a> <a href="https://twitter.com/SigmaThermal" target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-twitter.svg" alt="Twitter" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-twitter.png"></a> <a href="https://plus.google.com/104393776006751491260/posts" target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-googleplus.svg" alt="Google Plus" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-googleplus.png"></a> <a href="https://www.linkedin.com/company/sigma-thermal-inc." target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-linkedin.svg" alt="LinkedIn" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-linkedin.png"></a> <a href="http://blog.sigmathermal.com/blog" target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-blog.svg" alt="Blog" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-blog.png"></a></div>
<a class="orange-link" href="http://industrial.sigmathermal.com/iso-quality-certification">ISO 9001:2008 Certified</a></div>
</div>
</section>
<footer class="site-footer">
<div class="inner-wrap"><nav class="footer-nav">
<ul>
<li id="menu-item-1324" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1324"><a href="http://www.sigmathermal.com/about/">About</a></li>
<li id="menu-item-1231" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1231"><a href="http://industrial.sigmathermal.com/request-a-quote-no-product-specified" target="_blank">RFQ</a></li>
<li id="menu-item-1232" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1232"><a href="http://industrial.sigmathermal.com/brochures-form" target="_blank">Brochures</a></li>
<li id="menu-item-1233" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1233"><a href="http://www.sigmathermal.com/galleries">Galleries</a></li>
<li id="menu-item-1755" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1755"><a href="http://industrial.sigmathermal.com/videos-form" target="_blank">Videos</a></li>
<li id="menu-item-1235" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1169 current_page_item menu-item-1235"><a href="http://www.sigmathermal.com/sigma-thermal-representatives/">Sigma Reps</a></li>
<li id="menu-item-1818" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1818"><a href="http://rpm.thomaswebs.net/sigma-mfg/">Sigma MFG</a></li>
<li id="menu-item-1236" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1236"><a href="http://www.sigmathermal.com/site-map/">Sitemap</a></li>
<li id="menu-item-1237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1237"><a href="http://www.sigmathermal.com/privacy/">Privacy Policy</a></li>
<li id="menu-item-1699-en" class="lang-item lang-item-4 lang-item-en current-lang menu-item menu-item-type-custom menu-item-object-custom menu-item-1699-en"><a href="http://www.sigmathermal.com/sigma-thermal-representatives/" hreflang="en">English</a></li>
<li id="menu-item-1699-es" class="lang-item lang-item-6 lang-item-es no-translation menu-item menu-item-type-custom menu-item-object-custom menu-item-1699-es"><a href="http://www.sigmathermal.com/es/" hreflang="es">Español</a></li>
</ul>
</nav>
<p class="footer-address">Sigma Thermal · 4875 Deen Road · Marietta, GA 30066 · P 770 427-5770 F 678 254-1762</p>
<p class="footer-copyright">© 2014 Sigma Thermal - All rights reserved.  <a href="http://business.thomasnet.com/rpm">Credits</a></p>
</div>
</footer>

<!--Site Footer-
<footer class="site-footer" role="contentinfo">
    <div class="inner-wrap">
	{{ year }}
    </div>
    {% include "custom/pages/rpm/rpm-footer-copyright.html"%}
</footer>
   
-->
<!--

-->