        <!--Site Header-->
        <header class="site-header" role="banner">
            <div class="inner-wrap">
                <div class="site-header-top">
                    <a href="http://www.sigmathermal.com/" class="site-logo"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/sigma-thermal-logo.png" alt="Site Logo"></a>
                    <div class="utility-nav">
                        <a href="http://industrial.sigmathermal.com/iso-quality-certification" class="ico-iso" target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-iso.png" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-iso.png" alt="ISO Certified"></a>
                        <div class="social-wrap">
                            <a href="https://www.facebook.com/SigmaThermal" target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-facebook.svg" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-facebook.png" alt="Facebook"></a>
                            <a href="https://twitter.com/SigmaThermal" target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-twitter.svg" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-twitter.png" alt="Twitter"></a>
                            <a href="https://plus.google.com/104393776006751491260/posts" target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-googleplus.svg" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-googleplus.png" alt="Google Plus"></a>
                            <a href="https://www.linkedin.com/company/sigma-thermal-inc." target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-linkedin.svg" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-linkedin.png" alt="LinkedIn"></a>
                            <a href="http://blog.sigmathermal.com/blog" target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-blog.svg" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-blog.png" alt="Blog"></a>
                        </div>
                        
                        <nav class="secondary-nav">
                            <ul>
                                <li id="menu-item-1703" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1703"><a href="http://www.sigmathermal.com/contact-us-sigma-thermal">Contact</a></li>
                                <li id="menu-item-1817" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1817"><a href="http://rpm.thomaswebs.net/sigma-mfg/">Sigma MFG</a></li>
                                <li id="menu-item-1700" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1700"><a href="#pll_switcher">Language switcher</a></li>
                            </ul> 
                            <!--  <a href="#">About</a>
                            <a href="">Sigma Reps</a>
                            <a href="">Contact</a>
                            <a href="" class="white-link">English</a>
                            <a href="" class="white-link">Spanish</a>-->
                            <p class="sun-ph" data-ctm-watch-id="3" data-ctm-tracked="1">P (678) 616-2820</p>
                        </nav>
                        
                        <a href="#menu" class="mobile-nav mobile menu-link active">
                            <span>Menu</span>
                        </a>
            </div> 
                
                </div>   
                <div class="site-header-bottom">
                <nav id="menu" class="menu clearfix" role="navigation"> 
                    {% menu "main_menu" site_map_name='Main Menu', overrideable=False, root_type='site_root', flyouts='false', max_levels='2', flow='horizontal', label='Navigation' %}
                </nav>
                </div>
            </div>
        </header>        
        <section class="site-content" role="main"> 
<!--

-->