<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <meta name="author" content="{{ site_settings.company_name }}">
        <meta name="description" content="{{ page_meta.meta_description }}">
        <meta name="generator" content="HubSpot">
        <title>{{ page_meta.html_title }}</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        {{ include_css("custom/page/web_page_basic/style.css") }}
        <!--[if lt IE 9]>
            <script src="http://cdn2.hubspot.net/hub/246826/file-2463517516-js/js/vendor/respond.min.js"></script> <script src="http://cdn2.hubspot.net/hub/246826/file-2469312557-js/js/vendor/selectivizr-min.js"></script>
        <![endif]-->
        <script src="http://cdn2.hubspot.net/hub/246826/file-2469478994-js/js/vendor/modernizr.min.js"></script>
       
        {{ standard_header_includes }}
        
         
    </head>
    <body class="{{ builtin_body_classes }}">
    <div class="page-wrap">
    
    <!--Site Header-->
        <header class="site-header" role="banner">
            <div class="inner-wrap">
                <div class="site-header-top">
                    <a href="http://www.sigmathermal.com/" class="site-logo"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/sigma-thermal-logo.png" alt="Site Logo"></a>
                    <div class="utility-nav">
                        <a href="http://industrial.sigmathermal.com/iso-quality-certification" class="ico-iso" target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-iso.png" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-iso.png" alt="ISO Certified"></a>
                        <div class="social-wrap">
                            <a href="https://www.facebook.com/SigmaThermal" target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-facebook.svg" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-facebook.png" alt="Facebook"></a>
                            <a href="https://twitter.com/SigmaThermal" target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-twitter.svg" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-twitter.png" alt="Twitter"></a>
                            <a href="https://plus.google.com/104393776006751491260/posts" target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-googleplus.svg" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-googleplus.png" alt="Google Plus"></a>
                            <a href="https://www.linkedin.com/company/sigma-thermal-inc." target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-linkedin.svg" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-linkedin.png" alt="LinkedIn"></a>
                            <a href="http://blog.sigmathermal.com/blog" target="_blank"><img src="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-blog.svg" data-png-fallback="http://www.sigmathermal.com/wp-content/themes/sigma-default/img/ico-blog.png" alt="Blog"></a>
                        </div>
                        
                        <nav class="secondary-nav">
                            <ul>
                                <li id="menu-item-1703" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1703"><a href="http://www.sigmathermal.com/contact-us-sigma-thermal">Contact</a></li>
                                <li id="menu-item-1817" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1817"><a href="http://rpm.thomaswebs.net/sigma-mfg/">Sigma MFG</a></li>
                                <li id="menu-item-1700" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1700"><a href="#pll_switcher">Language switcher</a></li>
                            </ul> 
                            <!--  <a href="#">About</a>
                            <a href="">Sigma Reps</a>
                            <a href="">Contact</a>
                            <a href="" class="white-link">English</a>
                            <a href="" class="white-link">Spanish</a>-->
                            <p class="sun-ph" data-ctm-watch-id="3" data-ctm-tracked="1">P (678) 616-2820</p>
                        </nav>
                        
                        <a href="#menu" class="mobile-nav mobile menu-link active">
                            <span>Menu</span>
                        </a>
            </div> 
                
                </div>   
                <div class="site-header-bottom">
                <nav id="menu" class="menu clearfix" role="navigation"> 
                    {% menu "main_menu" site_map_name='Main Menu', overrideable=False, root_type='site_root', flyouts='false', max_levels='2', flow='horizontal', label='Navigation' %}
                </nav>
                </div>
            </div>
        </header>        

<div class="body-container-wrapper">
    <div class="body-container container-fluid">

        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
        <div class="row-fluid ">
            <div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

                <div class="row-fluid-wrapper row-depth-1 row-number-2 ">
                <div class="row-fluid ">
                    <div class="span12 widget-span widget-type-raw_jinja hs-blog-header" style="" data-widget-type="raw_jinja" data-x="0" data-w="12">
<h1>{{ group.public_title }}</h1></div><!--end widget-span -->

                </div><!--end row-->
                </div><!--end row-wrapper -->
                <div class="row-fluid-wrapper row-depth-1 row-number-3 ">
                <div class="row-fluid ">
                    <div class="span8 widget-span widget-type-cell blog-content-column" style="" data-widget-type="cell" data-x="0" data-w="8">

                        <div class="row-fluid-wrapper row-depth-2 row-number-1 ">
                        <div class="row-fluid ">
                            <div class="span12 widget-span widget-type-blog_content " style="" data-widget-type="blog_content" data-x="0" data-w="12">
{% if is_listing_view %}<div class="blog-section">
    <div class="blog-listing-wrapper cell-wrapper">
        {# simple_list_page indicates the "blog/all" page, which is a list of links to every blog post #}
        <div class="post-listing{% if simple_list_page %}-simple{% endif %}">
            {% if blog_author %}
                <div class="hs-author-profile">
                    <h2 class="hs-author-name">{{ blog_author.display_name }}</h2>
                    {# {% if blog_author.avatar %} <div class="hs-author-avatar"> <img width="35 px" src="{{ blog_author.avatar }}"> </div> {% endif %} #}
                    <div class="hs-author-bio">{{ blog_author.bio }}</div>
                    {% if blog_author.has_social_profiles %}
                        <div class="hs-author-social-section">
                            <span class="hs-author-social-label">Find me on:</span>
                            <div class="hs-author-social-links">
                                {% if blog_author.facebook %}
                                    <a href="{{ blog_author.facebook }}" target="_blank" class="hs-author-social-link hs-social-facebook">&nbsp;</a>
                                {% endif %}
                                {% if blog_author.linkedin %}
                                    <a href="{{ blog_author.linkedin }}" target="_blank" class="hs-author-social-link hs-social-linkedin">&nbsp;</a>
                                {% endif %}
                                {% if blog_author.twitter %}
                                    <a href="{{ blog_author.twitter }}" target="_blank" class="hs-author-social-link hs-social-twitter">&nbsp;</a>
                                {% endif %}
                                {% if blog_author.google_plus %}
                                    <a href="{{ blog_author.google_plus }}?rel=author" target="_blank" class="hs-author-social-link hs-social-google-plus">&nbsp;</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <h3 class="hs-author-listing-header">Recent Posts</h3>
            {% endif %}
            {% for content in contents %}
                <div class="post-item">
                    {% if not simple_list_page %}
                        <div class="post-header">
                            <h2><a href="{{content.absolute_url}}">{{ content.name }}</a></h2>
                            <p id="hubspot-author_data" class="hubspot-editable" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author">
                                Posted by
                                {%if content.blog_post_author %}
                                    <a class="author-link" href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">{{ content.blog_post_author.display_name }}</a> on {{ content.publish_date_localized }}
                                {% endif %}
                            </p>
                            {% blog_social_sharing "blog_social_sharing" overrideable=False, label='Blog Social Sharing' %}
                        </div>
                        <div class="post-body clearfix">
                            <!--post summary-->
                            {% if content.post_list_summary_featured_image %}
                                <div class="hs-featured-image-wrapper">
                                    <a href="{{content.absolute_url}}" title="" class="hs-featured-image-link">
                                        <img src="{{ content.post_list_summary_featured_image }}" class="hs-featured-image">
                                    </a>
                                </div>
                            {% endif %}
                            {{ content.post_list_content|safe }}
                        </div>
                        <a class="more-link" href="{{ content.absolute_url }}">Read More</a>                        
                    <div class="custom_listing_comments">
                        {% set comments_number =  content.comment_list|length %}
                        {% if comments_number == 1 %}
                            {% set comments_lable = "Comment" %}
                        {% else %}
                                {% set comments_lable = "Comments" %}
                        {% endif %}
                        {{ comments_number }} {{ comments_lable }} <a href="{{content.absolute_url}}#comments-listing">Click here to read/write comments</a>
                    </div>
                        {% if content.topic_list %}
                             <p id="hubspot-topic_data"> Topics:
                                {% for topic in content.topic_list %}
                                    <a class="topic-link" href="{{ group.absolute_url }}/topic/{{ topic.slug }}">{{ topic.name }}</a>{% if not loop.last %},{% endif %}
                                {% endfor %}
                             </p>
                        {% endif %}
                    {% else %}
                        <h2 class="post-listing-simple"><a href="{{content.absolute_url}}">{{ content.name }}</a></h2>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="blog-pagination">
            {% if last_page_num %}
                <a class="previous-posts-link" href="{{ blog_page_link(last_page_num) }}">Previous</a>
            {% endif %}
                <a class="all-posts-link" href="{{ group.absolute_url }}/all">All posts</a>
            {% if next_page_num %}
                <a class="next-posts-link" href="{{ blog_page_link(next_page_num) }}">Next</a>
            {% endif %}
        </div>
    </div>
</div>{% else %}<div class="blog-section">
    <div class="blog-post-wrapper cell-wrapper">
                <div class="section post-header">
            <h2>
                <a href="{{ content.absolute_url }}" id="hubspot-name" class="link hubspot-editable" data-hubspot-form-id="name" data-hubspot-name="Blog Title">{{ content.name }}</a> 
            </h2>
            <p id="hubspot-author_data" class="hubspot-editable" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author" >
                    <span class="hs-author-label">Posted by</span>
                    {% if content.blog_post_author %}
                        <a class="author-link" href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">{{ content.blog_post_author.display_name }}</a> on {{ content.publish_date_localized }}
                        {# {% if content.blog_post_author.avatar %} <div class="hs-author-avatar"> <img width="35 px" src="{{ content.blog_post_author.avatar }}"> </div> {% endif %} #}
                        {% if content.blog_post_author.has_social_profiles %}
                            <div class="hs-author-social-section">
                                <span class="hs-author-social-label">Find me on:</span>
                                <div class="hs-author-social-links">
                                    {% if content.blog_post_author.facebook %}
                                        <a href="{{ content.blog_post_author.facebook }}" target="_blank" class="hs-author-social-link hs-social-facebook">Facebook </a>
                                    {% endif %}
                                    {% if content.blog_post_author.linkedin %}
                                        <a href="{{ content.blog_post_author.linkedin }}" target="_blank" class="hs-author-social-link hs-social-linkedin">LinkedIn</a>
                                    {% endif %}
                                    {% if content.blog_post_author.twitter %}
                                        <a href="{{ content.blog_post_author.twitter }}" target="_blank" class="hs-author-social-link hs-social-twitter">Twitter </a>
                                    {% endif %}
                                    {% if content.blog_post_author.google_plus %}
                                        <a href="{{ content.blog_post_author.google_plus }}?rel=author" target="_blank" class="hs-author-social-link hs-social-google-plus">Google+</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
            </p>
        </div>
            {% blog_social_sharing "blog_social_sharing" overrideable=False, label='Blog Social Sharing' %}
        <div class="section post-body">
            {{ content.post_body }}
        </div>
        {% if content.topic_list %}
             <p id="hubspot-topic_data" > Topics:
                {% for topic in content.topic_list %}
                    <a class="topic-link" href="{{ group.absolute_url }}/topic/{{ topic.slug }}">{{ topic.name }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
             </p>
        {% endif %}

    </div>
</div>{% endif %}</div>

                        </div><!--end row-->
                        </div><!--end row-wrapper -->
                        <div class="row-fluid-wrapper row-depth-2 row-number-2 ">
                        <div class="row-fluid ">
                            <div class="span12 widget-span widget-type-blog_comments " style="" data-widget-type="blog_comments" data-x="0" data-w="12">
                                <div class="cell-wrapper layout-widget-wrapper">
                                    {% blog_comments "blog_comments" overrideable=True, label='Blog Comments' %}
                                </div><!--end layout-widget-wrapper -->
                            </div><!--end widget-span -->
                        </div><!--end row-->
                        </div><!--end row-wrapper -->
                    </div><!--end widget-span -->
                <div class="span4 widget-span widget-type-cell blog-sidebar" style="" data-widget-type="cell" data-x="8" data-w="4">

                    <div class="row-fluid-wrapper row-depth-2 row-number-3 ">
                    <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-blog_subscribe " style="" data-widget-type="blog_subscribe" data-x="0" data-w="12">
                            <div class="cell-wrapper layout-widget-wrapper">
                                {% blog_subscribe "blog_subscription" select_blog='default', label='Blog Email Subscription', overrideable=False, response_message='Thanks for Subscribing!', title='Subscribe to Email Updates' %}
                            </div><!--end layout-widget-wrapper -->
                        </div><!--end widget-span -->
                    </div><!--end row-->
                    </div><!--end row-wrapper -->
                    <div class="row-fluid-wrapper row-depth-2 row-number-4 ">
                    <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-post_listing " style="" data-widget-type="post_listing" data-x="0" data-w="12">
                            <div class="cell-wrapper layout-widget-wrapper">
                                {% post_listing "top_posts" select_blog='default', label='Recent Posts', overrideable=False, list_title='Recent Posts', listing_type='recent', max_links=5 %}
                            </div><!--end layout-widget-wrapper -->
                        </div><!--end widget-span -->
                    </div><!--end row-->
                    </div><!--end row-wrapper -->
                    <div class="row-fluid-wrapper row-depth-2 row-number-5 ">
                    <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-post_filter " style="" data-widget-type="post_filter" data-x="0" data-w="12">
                            <div class="cell-wrapper layout-widget-wrapper">
                                {% post_filter "post_filter" select_blog='default', expand_link_text='see all', overrideable=False, list_title='Posts by Topic', max_links=5, filter_type='topic', label='Posts by Topic' %}
                            </div><!--end layout-widget-wrapper -->
                        </div><!--end widget-span -->
                    </div><!--end row-->
                    </div><!--end row-wrapper -->
                </div><!--end widget-span -->
        </div><!--end row-->
        </div><!--end row-wrapper -->
    </div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end body -->
</div><!--end body wrapper -->

<div class="footer-container-wrapper">
    <div class="footer-container container-fluid">

        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
        <div class="row-fluid ">
            <div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
{% include 'generated_global_groups/695168041.html' %}
            </div><!--end widget-span -->
        </div><!--end row-->
        </div><!--end row-wrapper -->

    </div><!--end footer -->
</div><!--end footer wrapper -->


    {{ standard_footer_includes }}
    <!-- Generated by the HubSpot Template Builder - template version 1.03 -->
    </div>
</body>
</html>
